html {
	text-align: center;
    background-color: #ecf0f1;
	color: #2c3e50;
    font-family: 'Source Sans Pro', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
body {
    margin: 0;
}
header {
    color: rgba(236, 240, 241,1.0);
}
header .title {
    padding: 30px 5px 37px;
    font-size: 2em;
    background-color: rgba(44, 62, 80,1.0);
    text-shadow: 0 0.2vw 0.05vw black;
}
header nav {
    font-size: 1em;
    background-color: rgba(52, 73, 94,1.0);
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}
.container {
    text-align: left;
    max-width: 900px;
    width: 100%;
    display: inline-block;
}
h1 {
    font-size: 1.55em;
	font-weight: 200;
	margin: 0;
    margin-bottom: -12px;
}
h5 {
	font-family: 'Libre Baskerville', Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-weight: normal;
	font-style: italic;
	margin: 0;
    display: inline-block;
}
code {
	font-family: 'Source Code Pro', Monaco, Consolas, "Lucida Console", monospace;
	font-style: normal;
}
