:root {
  --deranged-text: #eaf1f7;
  --deranged-light-blue: #455d75;
  --deranged-dark-blue: #2c3e50;
}

p {
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 25px;
}

.button {
  width: auto;
  border-color: #ecf0f1;
  border-style: solid;
  border-width: 1px;
}

.hello-section {
  min-height: 400px;
  height: 50vh;
  background-image: linear-gradient(6deg, var(--deranged-dark-blue) 30%, var(--deranged-light-blue) 90%);
}

.revops-section {
  position: relative;
  overflow: hidden;
  color: var(--deranged-text);
  padding-top: max(6rem, min(9vw, 232px));
  background-color: var(--deranged-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.revops-section:before,
.revops-section:after {
  content: "";
  position: absolute;
  top: min(9vw, 232px);
  left: 50%;
  width: 100vw;
  height: 100vw;
  background-color: var(--deranged-dark-blue);
  transform: rotate(190deg);
  transform-origin: top left;
}
.revops-section:after {
  transform: rotate(260deg);
}
:nth-child(odd of .revops-section),
:nth-child(even of .revops-section):before,
:nth-child(even of .revops-section):after {
  color: var(--deranged-dark-blue);
  background-color: #ecf0f1;
}
.revops-section--last {
  padding-bottom: 6rem;
}

.revops-section__container {
  max-width: 1100px;
  padding: 6rem 4rem 2rem;
}
.revops-section__container--full-width {
  width: 100%;
  max-width: none;
  padding: 0 2rem 4rem;
  display:  flex;
  justify-content: space-evenly;
}
.revops-section__container--grid {
  max-width: 1200px;
  padding: 1rem 2rem 4rem;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.revops-section__problem,
.revops-section__solution {
  position: relative;
  padding: 1rem 1rem 0;
  z-index: 1;
  grid-column: 1 / span 2;
}
.revops-section__solution {
  padding: 0 1rem 1rem;
  grid-column: 2 / span 3;
}
.revops-section__problem p,
.revops-section__solution p {
  margin-bottom: 10px;
}
.revops-section__problem:after,
.revops-section__solution:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  transform: skew(8deg);
  background-image: linear-gradient(345deg, transparent 80%, #c098b0 100%);
}
.revops-section__solution:after {
  background-image: linear-gradient(165deg, transparent 80%, #92bd9f 100%);
}

.revops-section__heading {
  display: flex;
  align-items: center;
}
.revops-section__heading-icon {
  background: #1b2b3a;
  background-image: linear-gradient(40deg, #1b2b3a 30%, var(--deranged-light-blue) 90%);
  border-radius: 100%;
  margin-right: 15px;
  height: 60px;
  width: 60px;
  padding: 8px;
}
.revops-section__heading-title {
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
  text-align: left;
  letter-spacing: 1px;
  text-transform: none;
  font-size: 2.7rem;
  font-weight: 700;
}

.revops-section__text {
  margin-left: 75px;
  margin-right: 75px;
  text-align: left;
  text-transform: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.revops-section__button-middle {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.services-list-item {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem;
  align-items: center;
}
:nth-child(2 of .services-list-item) {
  margin-top: 9rem;
}

.services-list-item__logo {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
}


.services-list-item__text {
  max-width: 500px;
  align-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: left;
  font-size: 18px;
}

.services-list-item__title {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 0;
}

.services-list-item__summary {
  text-align: left;
}

@media screen and (max-width: 991px) {
  .revops-section__container--full-width {
    display: block;
  }

  .revops-section__text {
    margin-left: 0;
    margin-right: 0;
    text-transform: none;
    line-height: 1.4;
  }

  .services-list-item {
    flex-direction: column;
    padding: 2rem;
  }
  :nth-child(2 of .services-list-item),
  :nth-child(3 of .services-list-item) {
    margin-top: 0;
  }

  .services-list-item__logo {
    width: 30vw;
    height: 30vw;
  }

  .services-list-item__text {
    max-width: 750px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .revops-section {
    padding-top: 4rem;
  }
  .revops-section__container {
    padding: 2rem;
    padding-bottom: 1rem;
  }
  .revops-section__container--full-width {
    padding: 0;
  }
  .revops-section__container--grid {
    grid-template-columns: 1fr 1fr;
  }
  .revops-section__solution {
    grid-column: 1 / span 2;
  }

  .services-list-item__logo {
    max-width: 160px;
    max-height: 160px;
  }
  .services-list-item__title {
    margin-top: 0;
  }
}

@media screen and (max-width: 479px) {
  .revops-section__text {
    line-height: 30px;
  }
  .revops-section__heading {
    flex-direction: column;
  }
  .revops-section__heading-icon {
    width: 40px;
    height: 40px;
    padding: 5px;
  }
}

.latest-posts-section {
  color: var(--deranged-text);
  background-color: var(--deranged-dark-blue);
  background-image: linear-gradient(135deg, #2c3e50 30%, #455d75 90%);
  padding: 4em;
}

.latest-posts-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.post-link-block {
  background-color: var(--deranged-text);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: block;
  box-shadow: 0 2px 3px #0003;
  transition: background-color 0.3s, transform 0.3s;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.div-block-2 {
  color: var(--deranged-dark-blue);
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  display: flex;
}

.post-thumbnail {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  flex: none;
  margin: 10px;
}

.latest-posts {
  margin-bottom: 20px;
}

.latest-posts-list {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
