---
permalink: /css/derangedstyle.css
---
html {
	text-align: center;
    background-color: #ecf0f1;
	color: #2c3e50;
    font-family: 'Source Sans Pro', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
$darkblue: rgba(44, 62, 80,1.0);

a {
    color: #abcaea;
}

header {
    position: relative;
    z-index: 100;
}

@import 'header1';
@import 'header2';
@import 'header3';
@import 'header4';
@import 'header5';
@import 'overlay_nav';
@import 'footer';
@import 'get_a_quote';

.container {
    text-align: left;
    max-width: 900px;
    width: 100%;
    display: inline-block;
}
header .title h1 {
    font-size: 1.55em;
	font-weight: 200;
	margin: 0;
    margin-bottom: -12px;
}
header .title h5 {
	font-family: 'Libre Baskerville', Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-weight: normal;
	font-style: italic;
	margin: 0;
    display: inline-block;
}
code {
	font-family: 'Source Code Pro', Monaco, Consolas, "Lucida Console", monospace;
	font-style: normal;
}
main {
    padding: 0 15px 100px;
    font-size: 1.25em;
}
main .container {
    padding-right: 300px;
}
main h1 {
    font-size: 2.5em;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 1em;
}
main p {
    margin-top: 0;
    margin-bottom: 1em;
}
.call-to-action {
    background: rgba(52, 73, 94,1.0);
    color: rgba(236, 240, 241,1.0);
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 25px 10px;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 40px;
    transition: background 0.2s, color 0.2s;
}
.call-to-action:hover {
    background: rgba(52, 73, 94,0.8);
    color: white;
}
@media screen and (max-width: 900px) {
    main .container {
        padding-right: 30%;
    }
}
@media screen and (max-width: 500px) {
    main .container {
        padding-right: 0;
    }
}

.cookie-notice {
    position: fixed;
    bottom: 0;
    right: 0;
    background: $darkblue;
    color: white;
    padding: 0 15px 30px;
    max-width: 400px;
    box-sizing: border-box;
    text-align: left;
    box-shadow: 0 0 2px rgba(0,0,0,0.2), 0 -2px 4px rgba(0,0,0,0.2);
    font-size: 0.9em;
    transition: transform 0.5s;
    z-index: 2000;

    @media (max-width: 350px) {
        font-size: 0.8em;
    }

    a {
        color: rgb(204, 228, 252);
    }

    button {
        background: rgb(59, 144, 229);
        color: white;
        font-family: inherit;
        border: none;
        font-size: inherit;
        padding: 4px 14px;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        bottom: 14px;
        right: 15px;
    }

    &.cookie-notice-hide {
        transform: translateY(500px);
    }
}

.honeypot {
  height: 0;
  box-sizing: border-box;
  overflow: hidden;
  opacity: 0;
}
