---
permalink: /css/derangedstyle.css
---

html {
	text-align: center;
    background-color: black;
    background-image: linear-gradient(200deg, #070d14 50%, #2c3e50);
    background-attachment: fixed;
	color: #2c3e50;
    font-family: 'Source Sans Pro', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    display: flex;
    justify-content: center;

    @media (min-width: 1700px) {
        font-size: 18px;
    }
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow-x: hidden;
    background-color: #ecf0f1;
    width: 100%;
    max-width: 2575px;
    position: relative;
}
$darkblue: #2c3e50;

a {
    color: #d3e6f8;
    text-underline-offset: 0.2rem;
}

.link--dark {
    color: #0e3661;
}

header {
    position: relative;
    z-index: 100;
}

@import 'variables';
@import 'button';
@import 'header1';
@import 'header2';
@import 'header3';
@import 'header4';
@import 'header5';
@import 'overlay_nav';
@import 'footer';
@import 'get_a_quote';
@import 'utility';
@import 'hero';
@import 'faq';
@import 'solution-list';
@import 'accessibility-page';

.container {
    text-align: left;
    max-width: 900px;
    width: 100%;
    display: inline-block;
}
header .title h1 {
    font-size: 1.55em;
	font-weight: 200;
	margin: 0;
    margin-bottom: -12px;
}
header .title h5 {
	font-family: 'Libre Baskerville', Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-weight: normal;
	font-style: italic;
	margin: 0;
    display: inline-block;
}
code {
	font-family: 'Source Code Pro', Monaco, Consolas, "Lucida Console", monospace;
	font-style: normal;
}
.main-content {
    padding: 0 15px 100px;
    font-size: 1.25em;
}
.main-content .container {
    padding-right: 300px;
}
.main-content h1 {
    font-size: 2.5em;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 1em;
}
.main-content p {
    margin-top: 0;
    margin-bottom: 1em;
}
.call-to-action {
    background: #34495e;
    color: #ecf0f1;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 25px 10px;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 40px;
    transition: background-color 0.2s, color 0.2s;
}
.call-to-action:hover {
    background: rgba(52, 73, 94,0.8);
    color: white;
}
@media screen and (max-width: 900px) {
    .main-content .container {
        padding-right: 30%;
    }
}
@media screen and (max-width: 500px) {
    .main-content .container {
        padding-right: 0;
    }
}

.honeypot {
  height: 0;
  box-sizing: border-box;
  overflow: hidden;
  opacity: 0;
  position: absolute;
}

.customer-quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    @media (max-width: $width-sm) {
        font-size: 0.7em;
    }

    &--dark {
        color: $deranged-text;
    }

    &--big {
        .quote-text {
            font-size: 1.3em;
            max-width: 800px;

            @media (min-width: 1600px) {
                font-size: 1.5em;
                max-width: 1000px;
            }
        }
    }

    .quote-text {
        font-family: 'Libre Baskerville', serif;
        line-height: 175%;
        position: relative;
        padding: 0 2.75em;

        &:before {
            content: '“';
            font-size: 5em;
            position: absolute;
            left: 5px;
            top: 25px;
        }

        &:after {
            content: '”';
            font-size: 5em;
            position: absolute;
            right: 5px;
            bottom: -35px;
        }
    }
    .quotee {
        width: 100%;
        text-align: right;
        line-height: 1.5;
        padding: 0 0.75em;
        max-width: 800px;
        &:before {
            content: '— ';
        }
        a {
            padding: 10px 0;
        }

        @media (max-width: $width-sm) {
            font-size: 1.15em;
        }
    }
}

.customer-quote-section .see-cases {
    background: $deranged-dark-blue;
    color: $deranged-text;
    text-decoration: inherit;
    padding: 20px 25px;
    margin: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    &:hover {
        background: #375068;
        transform: scale(1.1);
    }

    @media screen and (max-width: $width-sm) {
        font-size: 1.2em;
    }

    @media (max-width: 400px) {
        margin: 20px -25px;
    }
}

.customer-quote-section.before-certification {
    margin-bottom: 3rem;
}

@for $i from 1 through 10 {
    .my-#{$i} {
        margin-top: #{$i}rem;
        margin-bottom: #{$i}rem;
    }
}

@for $i from 1 through 10 {
    .mt-#{$i} {
        margin-top: #{$i}rem;
    }
}

@for $i from 1 through 10 {
    .py-#{$i} {
        padding-top: #{$i}rem;
        padding-bottom: #{$i}rem;
    }
}

@for $i from 1 through 10 {
    .pt-#{$i} {
        padding-top: #{$i}rem;
    }
}

@for $i from 1 through 10 {
    .p-#{$i} {
        padding-top: #{$i}rem;
        padding-bottom: #{$i}rem;
        padding-left: #{$i}rem;
        padding-right: #{$i}rem;
    }
}

.font-serif {
    font-family: 'Libre Baskerville', Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}
.font-code {
    font-family: 'Source Code Pro', Monaco, Consolas, "Lucida Console", monospace;
}

.display-1 {
    font-weight: 200;
    font-size: 2.5rem;

    @media(min-width: 767px) {
        font-size: 4rem;
    }
}
.display-1--xl {
    @media(min-width: 768px) {
        font-size: 6rem;
    }
}
.display-2 {
    font-weight: 200;
    font-size: 3rem;
}
.display-3 {
    font-weight: 200;
    font-size: 2rem;
}
.display-4 {
    font-weight: 200;
    font-size: 1.5rem;
}

.display-1 strong, .display-2 strong, .display-3 strong, .display-4 strong {
    font-weight: 900;
}

p {
    margin-top: 0;
    margin-bottom: 1.6rem;
}

h1, h2, h3, h4, h5, h6, .heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
    font-weight: 900;
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

h1, .heading-1 {
    font-size: 2rem;
}
h2, .heading-2 {
    font-size: 1.5rem;
}
h3, .heading-3 {
    font-size: 1.25rem;
}

.section--dark {
    background-color: $deranged-dark-blue;
    color: $deranged-text;
}
.section--dark-highlight-gradient {
    background-image: linear-gradient(-35deg, transparent 30%, #375068 90%);
}
.section--dark-darken-gradient {
    background-image: linear-gradient(145deg, transparent 30%, #1b2b3a 90%);
}

.section__exit-chevron {
    position: relative;
    overflow: hidden;
    padding-top: max(6rem, min(9vw, 232px));
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__exit-chevron:before,
.section__exit-chevron:after {
    content: "";
    position: absolute;
    top: min(9vw, 232px);
    left: 50%;
    width: 100vw;
    height: 100vw;
    background-color: $deranged-dark-blue;
    transform: rotate(190deg);
    transform-origin: top left;
}
.section--dark.section__exit-chevron:before,
.section--dark.section__exit-chevron:after {
    background-color: #ecf0f1;
}
.section__exit-chevron:after {
    transform: rotate(260deg);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: start;
    grid-template-columns: 150px 1fr;
    color: $deranged-text;
    padding: 30px 24px;

    @media(min-width: 768px) {
        padding: 30px 100px;
    }
}

.header .logo {
    color: inherit;
    text-decoration: inherit;
    font-weight: 200;
    font-size: 1.3em;
    position: relative;
    z-index: 11;
}

.header .site-area-logo {
    color: inherit;
    margin: 0;
    padding: 0;
    font-weight: 200;
    font-size: 3rem;
}

.header .blog-logo {
    margin-top: -0.5rem;
    margin-left: 1rem;
    text-decoration: 1px underline;
    text-underline-offset: 0.5rem;
}

.header .explainers-logo {
    margin-top: -1rem;
    margin-left: 1rem;
    text-decoration: 1px underline;
    text-underline-offset: 0.5rem;
}

.longform {
    font-size: 1.25rem;
}
.longform p, .longform ul, .longform ol, .longform blockquote {
    font-family: 'Source Serif Pro', 'Libre Baskerville', Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    line-height: 160%;
    letter-spacing: -0.003em;
}
.longform h2:first-child {
    margin-top: 0;
}
.longform p + ul, .longform p + ol {
    margin-top: -1rem;
}
.longform li {
    margin-bottom: 0.25em;
}
.longform h1, .longform .heading-1 {
    font-size: 2.5rem;
}
.longform h2, .longform .heading-2 {
    font-size: 1.875rem;
}
.longform h4, .longform .heading-3 {
    font-size: 1.5rem;
}
.longform a {
    color: #0e3661;
}
