---
layout: default
title: "Tilgængelighed: Fra kompetenceløft til fuld compliance - vi opgraderer både dig og dine digitale løsninger"
meta: "Eksperthjælp til at sikre overholdelse af tilgængelighedsloven og til at løfte kompetencerne i din organisation, så I kommer i mål med compliance nu og her – og bygger en stærk, varig kultur for digital tilgængelighed."
sitemap_include: 'yes'
lang: "da_dk"
---

<style>
  /*
    Avoid text overflows
  */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: none;
    word-wrap: break-word;
    overflow-wrap: break-word;

    @media(max-width: 767px) {
      hyphens: auto;
    }
  }

  .flex {
    display: flex;
    gap: 20px;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }

  .content__container--full-width {
    max-width: 100%;
  }
  .content__image-container {
    max-width: 300px;
    margin: auto;

    img {
      width: 100%;
      border-radius: 4px;
    }

    @media (min-width: 768px) {
      float: right;
      margin: 1rem 2.25rem;
    }
  }

  figcaption {
    font-size: 0.875rem;
    color: #666;
    margin-top: 0.5rem;
    text-align: center;
  }

  .section__heading {
    margin-bottom: 1rem;
    margin-top: 0;
    text-align: left;
    letter-spacing: 1px;
    text-transform: none;
    font-size: 2.7rem;
    font-weight: 700;
  }

  .section__heading--light {
    font-weight: 200;
  }

  .section__heading--extra-margin-bottom {
    margin-bottom: 4rem;
  }

  .section__text {
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 2rem;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .section__cta {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3rem;

    .button {
      margin: 0;
    }
  }
  .section__cta--no-margin-top {
    margin-top: 0;
  }
  .section__cta--centered {
    justify-content: center;
  }

  .subpages-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
  }
  .subpages-item__title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
  .subpages-item__excerpt {
    margin-top: 0;
    margin-bottom: 1rem;
  }
</style>

{% include overlay_nav.html %}

<link href="/css/homestyle.css" rel="stylesheet" type="text/css" />
<link href="/css/revops.css" rel="stylesheet" type="text/css" />

<section class="hero" role="banner">
    <div class="hero__content">
      <div class="hero__breadcrumbs deranged-logo">
        <a href="/" class="hero__breadcrumb-item">
            deranged
        </a>
      </div>
    <h1 class="hero__title">
      Tilgængelighed
    </h1>
    <p class="hero__subtitle">
      Fra kompetenceløft til fuld compliance - vi opgraderer både dig og dine digitale løsninger
    </p>
    <p class="hero__language-switch">
      🇬🇧 <a href="/accessibility">Read in English</a>
    </p>
  </div>
</section>

<main lang="da-dk" id="first-content">
  <section class="content">
    <div class="content__container">
      <h2 class="section__heading">
        Hvad er tilgængelighed?
      </h2>
      <div class="section__text">
        <p>
          ➟  Digital tilgængelighed handler om at skabe inkluderende digitale oplevelser. Tilgængelighed sikrer, at alle kan bruge dit website eller din app, uanset eventuelle funktionsnedsættelser eller handicaps. Ved at sikre, at ingen brugere udelukkes, hjælper du både dine brugere og din organisation til at nå deres mål.
        </p>
        <p>
          For visse sektorer er der lovkrav om tilgængelighed for websteder og apps:
        </p>
        <ul>
          <li>Webtilgængelighedsloven (fra EU Web Accessibility Directive): Gælder for den offentlige sektor, herunder kommuner, regioner, statslige myndigheder og offentligretlige organer</li>
          <li>Tilgængelighedsloven (lov om tilgængelighedskrav for produkter og tjenester, fra European Accessibility Act): Trådte i kraft 28. juni 2025 og gælder for bl.a. banker, forsikringsselskaber, webshops, streamingtjenester og passagertransport.</li>
        </ul>
        <p>
          Hvis du er omfattet af lovgivningen, er der krav om, at dine websteder og apps skal leve op til standarden EN 301 549 – hvoraf en del af kravene er de samme som i Web Content Accessibility Guidelines (WCAG 2.1 og WCAG 2.2).
        </p>
        <p>Vores mål er at hjælpe dig med at overholde lovgivning og standarder og skabe inkluderende digitale miljøer uden barrierer for deltagelse, så ingen brugere lades i stikken.</p>
      </div>
      <div>
      <a href="/posts/2025-05-09-tilgængelighedsloven-for-den-private-sektor">
        ➟  Læs mere tilgængelighedsloven for den private sektor
      </a>
      </div>
    </div>
  </section>

  <section class="content content--blue">
    <div class="content__container">
      <h2 class="section__heading">
        Dit tilgængelighedsteam
      </h2>
      <div class="flex">
        <div class="section__text">
          <p>
            ➟ deranged tilbyder en bred række konsulentydelser inden for webtilgængelighed.
          </p>
          <figure class="content__image-container">
            <img src="/img/people/anne-tingaengelighed.jpg" class="revops-section__image" alt="" />
            <figcaption>
              Anne Thyme Nørregaard, Seniorkonsulent i webtilgængelighed
            </figcaption>
          </figure>
          <p>
            Vores seniorkonsulent i webtilgængelighed, Anne Thyme Nørregaard, har 10+ års erfaring inden for tilgængelighed og er Certified Professional in Web Accessibility (CPWA), som er den højeste niveau certificering, der tilbydes fra International Association of Accessibility Professionals (IAAP), og deranged er blandt andet leverandør til Digitaliseringsstyrelsen på opgaven med at monitorere om offentlige myndigheders websteder og apps lever op til kravene i webtilgængelighedsloven. Anne har hjulpet utallige offentlige myndigheder og private virksomheder med at opkvalificere deres medarbejdere og sikre tilgængeligheden på deres websteder, i apps og i software.
          </p>
          <p>
            deranged er også et udviklingshus, så ud over at vi leverer opkvalificering og ”diagnosticering” inden for webtilgængelighed, kan vi også tilbyde dig, at vores udviklingsteam løser dine tilgængelighedsproblemer for dig! Vores udviklingsteam kan hjælpe dig både hvis det er en eksisterende løsning, der skal fikses, og hvis du skal have udviklet noget nyt, der lever op til tilgængelighedsloven (for den private sektor) eller webtilgængelighedsloven (for den offentlige sektor). Vi kan også hjælpe dig med at fikse tilgængelighedsproblemer, som du har fået kendskab til ad andre veje, fx fra automatiske testværktøjer eller en monitoreringsrapport.
          </p>
        </div>
      </div>
      <div class="section__cta section__cta--no-margin-top">
        <a class="button" href="#services">
          Se vores ydelser inden for webtilgængelighed
        </a>
        <a href="/the-team/">
          ➟ Mød hele deranged-teamet
        </a>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="content__container">
      <h2 class="section__heading">
        Vores tilgang til arbejdet med tilgængelighed
      </h2>
      <div class="section__text">
        <p>
          Vores konsulentydelser inden for webtilgængelighed dækker hele paletten inden for uddannelse, rådgivning og test af tilgængelighedsproblemer.
        </p>
        <p>
            I vores konsulentydelser inden for webtilgængelighed bryder vi indsatsen med tilgængelighed ned i overskuelige blokke og hjælper dig med at forstå, hvad det hele går ud på, og hvad du konkret skal gøre. Vi sikrer, at du hurtigst muligt kommer i mål med at tilgængeliggøre din løsning – og at du lærer en masse undervejs, så du hele tiden udvider dine kompetencer inden for webtilgængelighed.
          </p>
        <p>
          Når du har fået et overblik over tilgængelighedsproblemer i din løsning, kan du vælge at rette problemerne i din løsning selv eller med hjælp fra en anden leverandør – eller du kan få os til det.
        </p>
      </div>
    </div>
  </section>

  <section class="content content--blue" id="services">
    <div class="content__container content__container--wide">
      <h2 class="section__heading section__heading--light section__heading--extra-margin-bottom">
        Vores ydelser inden for webtilgængelighed
      </h2>
      <div class="subpages-list">
        {% assign subpages = site.pages | where_exp:"p","p.url contains '/da/tilgaengelighed/'" %}
        {% for page in subpages %}
          {% unless page.url == '/da/tilgaengelighed/' or page.url == '/da/tilgaengelighed/index.html' %}
            <div class="subpages-item">
              <h3 class="subpages-item__title">
                {{ page.shortTitle | default: page.title | default: page.url }}
              </h3>
              <p class="subpages-item__excerpt">
                {{ page.excerpt }}
              </p>
              {% if service.content != empty %}
                <a href="{{ page.url }}">
                  ➟  Læs mere
                </a>
              {% endif %}
            </div>
          {% endunless %}
        {% endfor %}
      </div>
      <div class="section__cta section__cta--centered section__cta--extra-margin-top">
        <a class="button" href="#contact">
            Tag en snak med os
        </a>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="content__container">
      <h2 class="section__heading section__heading--extra-margin-bottom">
        Vi er eksperter i at løse disse problemer…
      </h2>
      <dl class="faq-list">
        <dt class="faq-list__question">
          Hvad er forskellen på webtilgængelighedsloven og tilgængelighedsloven?
        </dt>
        <dd class="faq-list__answer">
          <p>
            Webtilgængelighedsloven er ofte en specifik (nationale) lovgivning, der kræver, at offentlige websites og mobile apps lever op til bestemte tilgængelighedskrav.
            "Tilgængelighedsloven" kan være en bredere betegnelse eller en anden lov i din jurisdiktion med lignende formål — tjek den konkrete lovtekst for hvem den gælder for og hvilke undtagelser der findes.
          </p>
          <p>
            (Her kan du tilføje hvordan det konkret berører jeres organisation: fx krav til kontrakter, dokumentation, test-rapporter mv.)
          </p>
        </dd>

        <dt class="faq-list__question">
          Forstå hvad lovgivning, standarder og retningslinjer konkret betyder for dig
        </dt>
        <dd class="faq-list__answer">
          <p>
            Hvad er forskellen på webtilgængelighedsloven og tilgængelighedsloven? Hvad er forskellen på WCAG 2.1 og WCAG 2.2 og på EN 301 459 – og er der nogle krav, der er valgfrie? Der er mange ting at holde styr på inden for webtilgængelighed, men vi kan tage dig i hånden og forklare, hvad det betyder for lige præcis din organisation.
          </p>
        </dd>

        <dt class="faq-list__question">
          Omsætte testrapporter til konkrete handlepunkter
        </dt>
        <dd class="faq-list__answer">
          <p>
            Vores mål er, at dit tilgængelighedsbudget bliver brugt på faktisk at forbedre tilgængeligheden i din løsning ved at hjælpe dig med at omsætte indsigter i tilgængeligheden på din løsning til konkrete handlepunkter på nogens to do-liste. Det virker måske åbenlyst, men vi oplever at alt for mange tilgængelighedsprojekter starter med en stor rapport – og også slutter her, fordi ingen ved, hvordan de skal omsætte rapporten til noget i praksis.
          </p>
        </dd>

        <dt class="faq-list__question">
          Fange tilgængelighedsproblemer allerede i designfasen
        </dt>
        <dd class="faq-list__answer">
          <p>
            Ved at indgå i dialog med UX’ere og grafiske designere kan vi hjælpe med at forebygge tilgængelighedsproblemer længe inden de opstår i koden på den endelige løsning. Ved hjælp af undervisning og tidlig test af wireframes, designskitser eller prototyper kan vi forebygge mange tilgængelighedsproblemer, som det ville være tidskrævende og dyrt at løse senere.
          </p>
        </dd>

        <dt class="faq-list__question">
          Løse tilgængelighedsproblemer i din kode
        </dt>
        <dd class="faq-list__answer">
          <p>
            Vi kan enten indgå som en sparringspartner for dine udviklere, så de ikke behøver at bruge en masse tid på at google og gætte sig til løsninger på tilgængelighedsproblemer – eller vores udviklere kan hjælpe dig med at få rettet fejlene direkte i din kode. Det kan vi tilbyde, fordi deranged også er et udviklingshus. Om du har brug for den ene eller den anden slags hjælp, er helt op til dig.
          </p>
        </dd>

        <dt class="faq-list__question">
          Dokumentere compliance
        </dt>
        <dd class="faq-list__answer">
          <p>
            Hvis du har brug for en fuld compliancerapport til at dokumentere, at dit websted eller din app lever op til tilgængelighedsloven (European Accessibility Act, EAA) eller webtilgængelighedsloven, så kan vi hjælpe dig. Til vores compliancerapporter bruger vi samme testmetode som bruges til Digitaliseringsstyrelsens monitoreringer for webtilgængelighedsloven.
          </p>
        </dd>
      </dl>
    </div>
  </section>
</main>

{% include get_a_quote.html subject='Tilgængelighed' %}
