---
title: "Fix Analytics: The fastest and cheapest way to stay GDPR-compliant"
layout: fix-analytics-page
lang: "en_us"
text_content:
  hero:
    title: The <em class="heading__emphasis text--fancy" data-text-fancy="fastest">fastest</em> and <em class="heading__emphasis text--fancy" data-text-fancy="cheapest">cheapest</em> way to stay GDPR-compliant
    subtitle: for users of Google Analytics
    usp1: <strong>75-90% cheaper</strong> than comparable alternatives
    usp2: <strong>10 minute</strong><br>setup
    usp3: Keep your <strong>analytics history</strong> when UA shuts down
  risk_and_price:
    title_start: Avoid getting<br>
    title_big: fined
    body: |
      The Data Protection Agencies in [Denmark](https://www.datatilsynet.dk/presse-og-nyheder/nyhedsarkiv/2022/sep/brug-af-google-analytics-til-webstatistik), [France](https://www.cnil.fr/en/google-analytics-and-data-transfers-how-make-your-analytics-tool-compliant-gdpr) and [Austria](https://www.datatilsynet.dk/presse-og-nyheder/nyhedsarkiv/2022/jan/afgoerelse-om-brug-af-google-analytics-fra-det-oestrigske-datatilsyn) have all found use of Google Analytics without proper precautions illegal. A [Munich regional court fined](https://wptavern.com/german-court-fines-website-owner-for-violating-the-gdpr-by-using-google-hosted-fonts) a website operator for sharing visitors' IP address with Google.

      Fines for breaches of the General Data Protection Regulation (GDPR), which the above decisions and rulings relate to, [can amount to](https://gdpr-info.eu/issues/fines-penalties/) € 10 million or up to 2 % of a company's entire global turnover.

      By having a plan and taking steps towards a solution you minimize the risk of being fined (and the potential size of fines). It's time to be prudent and start securing your website.

      <!-- once we have Matomo: keep your history and migrate -->
      <!-- read more on risks -->
    pricing_title: Pricing calculator
    pricing_body1: Using Fix Analytics costs <strong>€ 0.01 per 1,000 tracking events</strong>
    pricing_body2: There is a minimum payment of € 5 per domain per year.
    pricing_tooltip: A tracking event is usually a page visit, but you may also be tracking special events in order to gather information on user behavior on your site.
    pricing_form_title: Annual cost for your domain
    pricing_form_based_on: based on
    pricing_form_daily_visitors: Daily visitors
    pricing_form_avg_views: Avg. page views per visit
    pricing_form_avg_special_events: Avg. special events per visit
    pricing_form_cta: Get started
  dandomain_pitch:
    title: Do you use DanDomain Webshop?
    body: Read our step-by-step guide on how to use Fix Analytics on your DanDomain webshop.
    cta: Go to guide
    aside_title: Need an on-prem solution?
    aside_body: We offer competitive solutions to on-premise proxying or Matomo hosting, including migration of data. If you want to hear more <a href="mailto:get+analytics@deranged.dk">contact us</a>.
pricing:
  currency: €
  per_domain: 5
  per_1000_tracking_events: 0.01

---
{% include fix-analytics-hero.html text_content=page.text_content.hero %}
<div class="container">
  {% include fix-analytics-risk-and-price.html text_content=page.text_content.risk_and_price pricing=page.pricing %}
  {% include fix-analytics-dandomain-pitch.html text_content=page.text_content.dandomain_pitch %}
</div>
