<style type="text/css" scoped>
  .content__container--wide {
    max-width: 1500px;
  }
</style>

<section class="content {% if include.blue %}content--blue{% endif %}">
    <div class="content__container content__container--wide">
      <div class="section__content-wrapper">
        <div class="section__text-column">
          <h2 class="section__heading section__heading--light">
            {{ include.title }}
          </h2>
          <div class="section__text">
            <p>
              {{ include.description }}
            </p>
            <div class="section__cta section__cta--no-margin-top">
              <a href="{{ include.link }}">
                ➟ Check out our {{ include.button }} services
              </a>
            </div>
          </div>
          {% if include.quotes %}
            {{ include.quotes }}
          {% endif %}
        </div>
        <div class="section__cases-column">
          <div class="cases-list">
            {{ include.content }}
          </div>
        </div>
      </div>
    </div>
</section>
