<a href="{{ include.url }}" class="cases-item">
    <div class="cases-item__content">
    {% if include.customer %}
        <h3 class="cases-item__customer">
        {{ include.customer }}
        </h3>
    {% endif %}
    <h2 class="cases-item__title">
        {{ include.title | include.url }}
    </h2>
    <p>{{ include.meta }}</p>
    <span class="link--dark">➟ <u>Read&nbsp;more</u></span>
    </div>
    {% if include.logo %}
        {% if include.logo_alt %}
            <img src="{{ include.logo }}" class="case-item__logo" alt="{{ include.logo_alt }}">
        {% else %}
            <img src="{{ include.logo }}" class="case-item__logo" alt="{{ include.customer }}">
        {% endif %}
    {% endif %}
</a>