<aside class="certification-section content--blue">
  <div class="certification-section__content">
    <div>
      <img src="/img/smv_digital.svg" alt="SMV:Digital" class="certification-section__content-logo" loading="lazy" />
      <p>
        As registered advisors at
        <a href="https://smvdigital.dk/content/ydelser/tilbud/4e84e652-3d63-4b24-b5f5-a278d2ad27e6/" target="_blank" rel="noopener">SMV:Digital</a>
        , we can help you with your digital transformations, and you may be able to get subsidies for our work, if your organization is based in Denmark.
      </p>
    </div>
    <div class="square-logo">
      <img src="/img/leverandoer_logo_negativ_RGB.png" alt="ski-logo" class="certification-section__content-logo" loading="lazy" />
      <p>
        We are an approved SKI-supplier on the <a href="https://www.ski.dk/aftaler/se-aftale/?id=02140024" target="_blank" rel="noopener">02.14 It-konsulenter (DIS)</a>-contract, so if you are a public sector organization in Denmark <a href="https://www.ski.dk/videnssider/sadan-bliver-du-kunde-hos-os/" target="_blank" rel="noopener">you can significantly reduce the procurement process</a> while allowing us to bid.
      </p>
    </div>
    <div>
      <img src="/img/dosl-logo-white.svg" alt="dosl-logo" class="certification-section__content-logo" loading="lazy" />
      <p>
        With our network of open source software suppliers, centered around the organization of <a href="https://dosl.dk/" target="_blank" rel="noopener">Danish Open Source Suppliers</a>—of which we are a founding member, we can help you navigate any transition to digital sovereignty.
      </p>
    </div>
  </div>
</aside>
