<aside class="certification-section content--blue">
  <div class="certification-section__content">
    <div>
      <img src="/img/smvdigital.svg" alt="SMV:Digital" style="filter: invert()" class="certification-section__content-logo" loading="lazy" />
      <h2 class="certification-section__content-title">Approved advisors</h2>
      <p>
        Several of our employees are approved advisors in the
        <a href="https://smvdigital.dk" target="_blank" rel="noopener"
          >SMV:Digital</a
        >
        advisor registry.
      </p>
      <p>
        That means that you may be able to get some of the work on digitalization
        of your company subsidized while working with us. Companies with 3-249
        full-time employees can get 100.000-250.000 DKK in subsidies, and
        companies with 2-49 full-time employees can get 25.000 DKK if they qualify
        for the funds.
      </p>
      <p>
        You can
        <a
          href="https://smvdigital.dk/content/ydelser/tilbud/4e84e652-3d63-4b24-b5f5-a278d2ad27e6/"
          target="_blank"
          rel="noopener"
          >see if you are eligible</a
        >, and <a href="#contact">contact us</a> to hear more.
      </p>
    </div>
    <div>
      <img src="/img/leverandoer_logo_monochrom_RGB.png" alt="ski-logo" class="certification-section__content-logo" loading="lazy" />
      <h2 class="certification-section__content-title">Staten og Kommunernes Indkøbsservice providers</h2>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel consectetur odio. Nulla semper dapibus ante, vitae feugiat ipsum gravida eu. Fusce interdum erat non arcu commodo condimentum. Ut vel vulputate ligula. Integer aliquam, neque a convallis molestie, orci massa dapibus orci, ac porta diam nibh sit amet massa.
      </p>
    </div>
    <div>
      <img src="/img/dosl-logo-white.svg" alt="dosl-logo" class="certification-section__content-logo" loading="lazy" />
      <h2 class="certification-section__content-title">Danish Open Source Suppliers</h2>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel consectetur odio. Nulla semper dapibus ante, vitae feugiat ipsum gravida eu. Fusce interdum erat non arcu commodo condimentum. Ut vel vulputate ligula. Integer aliquam, neque a convallis molestie, orci massa dapibus orci, ac porta diam nibh sit amet massa.
      </p>
    </div>
  </div>
</aside>
