<section class="content-section">
  <div class="aside-section aside-section--equal">
    <div>
      <h2>If you do nothing...</h2>
      - austria, denmark, france(?), munchen, diff sitches
      - risk of fines; back in time, too; minimize risk by showing you take the risk seriously, are working to mitigate
      - bødestørrelse: 10% af omsætning max x millioner - find kilde til det
      - if you use UA: you will lose your history, even if you migrate to GA4
      - Read more on risks
    </div>
    <aside class="aside-section__aside">
      <div class="aside-section__aside-box card card--dark-shiny">
        <h2 class="card__header">Pricing</h2>
        - €5 for 500.000 events / pricing calculator ud fra besøgende, gns. antal sidevisninger pr. besøg, antal special-events pr. besøg
      </div>
    </aside>
  </div>
</section>
