<section class="hero-section">
  <h1 class="heading heading--big text--centered">
    The <em class="heading__emphasis text--fancy text__fastest--fancy">fastest</em> and <em class="heading__emphasis text--fancy text__cheapest--fancy">cheapest</em> way
    <br />
    to stay GDPR-compliant
    {{ include.text.title }}
  </h1>
  <div class="card selling-propositions">
    <div class="selling-propositions__item d--f fd--c jc--c">
      <h3 class="selling-propositions__item-title">
        <strong>75-90% cheaper</strong> than comparable alternatives
      </h3>
    </div>
    <div class="selling-propositions__item text--centered d--f fd--c jc--c">
      <h3 class="selling-propositions__item-title">
        <strong>10 minute</strong><br>
        setup
      </h3>
    </div>
    <div class="selling-propositions__item d--f fd--c jc--c">
      <h3 class="selling-propositions__item-title">
        Keep your <strong>analytics history</strong> when UA shuts down
      </h3>
    </div>
    <!-- TODO: Keep your affiliate and ad revenue systems working -->
  </div>
</section>
