<section class="content-section">
  <div class="aside-section aside-section--equal">
    <div>
      <h2 class="heading--big">
        {{ include.text_content.title_start }}
        <span class="heading--humongous text--shiny text--line-height-90">
          {{ include.text_content.title_big }}
        </span>
      </h2>
      <!-- <p>{{ include.text_content.body }}</p> -->
    </div>
    <aside class="aside-section__aside">
      <div class="card card--dark">
        <div class="card__body">
          <h2 class="card__header" id="calculator">
            {{ include.text_content.pricing_title}}
          </h2>
          <div class="card__text">
            <p>
              {{ include.text_content.pricing_body1 }}*.
              {{ include.text_content.pricing_body2 }}
            </p>
          </div>
          <div class="card__text mt-sm">
            <h3>
              {{ include.text_content.pricing_form_title }}
            </h3>
            <div class="text--huge text--centered">
              {{ include.pricing.currency }} <span data-pricing-calculator-result>5.00</span>
            </div>
            <input hidden data-pricing-per-domain type="number" value="{{ include.pricing.per_domain }}">
            <input hidden data-pricing-per-1000-tracking-events type="number" value="{{ include.pricing.per_1000_tracking_events }}">
            <div class="text--small text--centered">
              {{ include.text_content.pricing_form_based_on }}
            </div>
            <form name="pricing" class="flex justify-content--space-between align-items--center">
              <div>
                <label class="labelled-field">
                  <span class="labelled-field__label">
                    {{ include.text_content.pricing_form_daily_visitors }}
                  </span>
                  <input type="number" name="dailyVisitors" value="340" class="labelled-field__input input--number input--big input--short">
                </label>
              </div>
              <div class="text--huge">
                &times;
              </div>
              <div>
                <label class="labelled-field">
                  <span class="labelled-field__label">
                    {{ include.text_content.pricing_form_avg_views }}
                  </span>
                  <input type="number" name="pageViewsPerVisit" value="4" class="labelled-field__input input--number input--big input--short">
                </label>
                <div class="text--large text--centered">
                  +
                </div>
                <label class="labelled-field">
                  <span class="labelled-field__label">
                    {{ include.text_content.pricing_form_avg_special_events }}
                  </span>
                  <input type="number" name="specialEventsPerVisit" value="0" class="labelled-field__input input--number input--big input--short">
                </label>
              </div>
            </form>
            <script>
              (function() {
                var pricingForm = document.forms.pricing;
                var result = document.querySelector("[data-pricing-calculator-result]");
                var pricePerDomain = document.querySelector("[data-pricing-per-domain]").value || 5;
                var pricePer1000TrackingEvents = document.querySelector("[data-pricing-per-1000-tracking-events]").value || 0.01;

                function getVal(field) {
                  return parseInt(pricingForm[field].value);
                }
                function updatePricingResult() {
                  var dailyEvents = getVal("dailyVisitors") * (getVal("pageViewsPerVisit") + getVal("specialEventsPerVisit"));
                  var annualPrice = Math.max(pricePerDomain, pricePer1000TrackingEvents * (dailyEvents * 365) / 1000);
                  result.innerText = annualPrice.toFixed(2);
                }

                pricingForm.dailyVisitors.addEventListener("input", updatePricingResult);
                pricingForm.pageViewsPerVisit.addEventListener("input", updatePricingResult);
                pricingForm.specialEventsPerVisit.addEventListener("input", updatePricingResult);

                updatePricingResult();
              })();
            </script>
          </div>
          <p class="text--small mt-md">
            * {{ include.text_content.pricing_tooltip }}
          </p>
        </div>
        <div class="card__actions">
          <div class="spacer"></div>
          <a class="button button--dashed button--dark" href="signup">
            {{ include.text_content.pricing_form_cta }}
          </a>
        </div>
      </div>
    </aside>
  </div>
</section>
