<section class="content-section">
  <h2>How to set up</h2>
  - ...code ex
  - ...plugins for systems
  - ...instructions in signup email
  - kontakt os hvis din platform ikke  understøttes endnu, så fixer vi det
  - Sign up link

  Coming soon: keep your analytics history when UA shuts down
  - ...
  - Sign up link

  (Keep your affiliate and ad referral info)
  (Needs research)
  (affiliate/tracking af reklamer... hvordan bliver det tracket? hvis vi mister UTM mister vi så også noget reklametracking? hvordan gør affiliate services det? det skal undersøges og så skal vi skrive på sitet hvad konsekvensen er/hvad man kan gøre for at mitigere...)

  <hr>

  In signup flow: link to setup page with queationnaire that links you to the right help section - also link here via 10 minutes setup USP

  <hr>

  Signup page revamp with some info
  - domain entry hints via tld api

  <hr>

  Alternatives price, security and feature comparison
  (e.g. are they gdpr compliant, do they spoof to bucket correctly, etc)
</section>
