<section class="hero-section">
  <div class="hero-section__background"></div>
  <div class="hero-section__content container">
    <h1 class="heading heading--big text--centered">
      The <em class="heading__emphasis text--fancy text__fastest--fancy">fastest</em>
      and <em class="heading__emphasis text--fancy text__cheapest--fancy">cheapest</em>
      way to stay GDPR-compliant
    </h1>
    <h2 class="text--centered mt-6">
      for users of Google Analytics
    </h2>
    <div class="card u-mt-lg">
      <div class="card__usp">
        <div class="card__usp-item">
          <h3 class="card__usp-title">
            <strong>75-90% cheaper</strong> than comparable alternatives
          </h3>
        </div>
        <div class="card__usp-item text--centered">
          <h3 class="card__usp-title">
            <strong>10 minute</strong>
            <br>
            setup
          </h3>
        </div>
        <div class="card__usp-item">
          <h3 class="card__usp-title">
            Keep your <strong>analytics history</strong> when UA shuts down
          </h3>
        </div>
        <!-- TODO: Keep your affiliate and ad revenue systems working -->
      </div>
    </div>
  </div>
</section>
