<section class="hero-section">
  <section class="content-section">
    <h1 class="heading heading--big">
      The <em class="heading__emphasis text--fancy text__fastest--fancy">fastest</em> and <em class="heading__emphasis text--fancy text__cheapest--fancy">cheapest</em> way
      <br />
      to stay GDPR-compliant
      {{ include.text.title }}
    </h1>
    <!-- Signup link near top -->
  </section>
  <section class="content-section">
    <div class="grid grid--md-col-4">
      <div class="d--f fd--c jc--sb">
        <h3 class="heading heading--light u-mb-xs">
          75-90% cheaper than alternatives
        </h3>
        <a href="">Read more</a>
      </div>
      <div class="d--f fd--c jc--sb">
        <h3 class="heading heading--light u-mb-xs">
          10 minute setup
        </h3>
        <a href="">Read more</a>
      </div>
      <div class="d--f fd--c jc--sb">
        <h3 class="heading heading--light u-mb-xs">
          Keep your analytics history
        </h3>
        <a href="">Read more</a>
      </div>
      <div class="d--f fd--c jc--sb">
        <h3 class="heading heading--light u-mb-xs">
          Keep your affiliate and ad revenue systems working
        </h3>
        <a href="">Read more</a>
      </div>
    </div>
  </section>
</section>
