<section class="content-section">
  <div class="aside-section">
    <div>
      <h2>How we do it? What we do?</h2>
      - proxy with pseudonomization, servers hosted in the EU, operated by EU companies all the way down
      -  advanced spoofing to keep device differences, bucketing of data. *currently in beta, and quality of grouping will improve over time, but much better than competitors
      - in the future: custom config for user data in custom events, urls, etc. we'll help you identify and optimize, ask you whether certain ID-looking things in urls and data sent are user data, in which case we will strip them out. We try to auto-detect and remove more rather than less, but auto-detected data will be reported to you so you can disable the removal
      - in the future we will support easy one-click migration without having to change anything on your site. you will pay only hosting costs. To new GA4 or to Matomo (recommended: keeps your history, can do cookie-less, can get utm and referrer and no data loss for future)
      - sign up now, link to signup form, you will get setup info by mail
    </div>
    <aside class="aside-section__aside">
      <div class="aside-section__aside-box">
        <h3>Want on-prem?</h3>
        <p>We offer competitive solutions for on prem proxying or matomo hosting, including migration. <a href="">Read more</a>.</p>
      </div>
    </aside>
  </div>
</section>
