<section class="content-section">
  <div class="aside-section aside-section--reverse">
    <div class="aside-section__main mb-md">
      <h2 class="heading heading--medium text--shiny">
        {{ include.text_content.easy_installation }}
      </h2>
      <p class="heading heading--subtitle">
        {{ include.text_content.easy_installation_subtitle }}
      </p>
      <div class="image-with-action">
        <img class="image-with-action__image" src="/img/ga-install.png" alt="Two lines of code changed, showing all that is needed to install Fix Analytics">
        <a href="{{ page.url }}installation/" class="button button--dark button--filled button--pop-under">
          {{ include.text_content.see_installation_guide }}
        </a>
      </div>
    </div>

    <aside class="aside-section__aside">
      <div class="card">
        <!--div class="card__icon">
          <img class="card__icon-image" src="/fix-analytics/server-network.svg">
        </div-->
        <div class="card__body">
          <h3 class="card__header">
            {{ include.text_content.plugins_header }}
          </h3>
          <div class="card__text">
            {{ include.text_content.plugins_text }}
          </div>
        </div>
      </div>
    </aside>
  </div>
</section>
