<section class="content-section">
  <div class="aside-section">
    <div class="mb-md">
      <h2 class="heading heading--medium text--shiny">
        {{ include.text_content.title }}
      </h2>
      <p>
        {{ include.text_content.body }}
      </p>
      <div class="flex mt-sm">
        <a class="button" href="{{ page.url }}dandomain/">
          {{ include.text_content.cta }}
        </a>
      </div>
    </div>
    <aside class="aside-section__aside">
      <div class="card">
        <div class="card__icon">
          <img class="card__icon-image" src="/fix-analytics/server-network.svg">
        </div>
        <div class="card__body">
          <h3 class="card__header">
            {{ include.text_content.aside_title }}
          </h3>
          <div class="card__text">
            <p>
              {{ include.text_content.aside_body }}
            </p>
          </div>
        </div>
      </div>
    </aside>
  </div>
</section>
