<section>
    <form
        id="contact-form-analytics"
        action="https://api.fix-analytics.deranged.dk/customer"
        method="post"
    >
        <label class="honeypot">
            <span>Repeat mail</span>
            <input
                type="text"
                name="UZZvvqxJKRlGGbvYaVxz"
                placeholder="mary.jane@broadwaytheater.com"
            />
            <!-- This is a honeypot, it is invisible to users, but not to bots. If it has value, it means it is a bot -->
        </label>
        <div class="contact-form">
            <h2>{% if include.language == "danish" %} Dine domæner {% else %} Your Domains {% endif %}</h2>
            <div data-domains-container>
                <label>
                    <span>{% if include.language == "danish" %} Domæne {% else %} Domain {% endif %}</span>
                    <input
                        placeholder="www.your-domain.com"
                        type="text"
                        name="domain_1"
                        required
                        data-domain-field
                    />
                </label>
            </div>
            <button
                class="btn"
                data-add-additional-domain
            >
                {% if include.language == "danish" %} Tilføj flere domæner {% else %} Add additional domain {% endif %}
            </button>
            <p>
                {% if include.language == "danish" %}
                    Pris pr. domæne: <strong>37 kr.</strong>
                {% else %}
                    Price per domain: <strong>€5</strong>
                {% endif %}
            </p>
        </div>
        <div class="contact-form">
            <h2>{% if include.language == "danish" %} Valgmuligheder {% else %} Options {% endif %}</h2>
            <label>
                <span> {% if include.language == "danish" %} Valuta {% else %} Currency {% endif %} </span>
                <select
                    name="currency"
                    required
                >
                    <option value="DKK">DKK</option>
                    <option value="EUR">Euro</option>
                </select>
            </label>
            <label>
                <span>
                    {% if include.language == "danish" %} Foretrukne sprog {% else %} Preferred Language {% endif %}
                </span>
                <select
                    name="locale"
                    required
                >
                    <option value="da_DK">Dansk</option>
                    <option value="en_US">English</option>
                </select>
            </label>
            <label>
                <span> {% if include.language == "danish" %} Kundetype {% else %} Customer Type {% endif %} </span>
                <select
                    name="customer_type"
                    required
                >
                    <option value="company">Enterprise</option>
                    <option value="person">Private</option>
                </select>
            </label>
            <label>
                <span>Discount Voucher (optional)</span>
                <input
                    type="text"
                    name="voucher"
                />
            </label>
        </div>
        <div class="contact-form">
            <h2>
                {% if include.language == "danish" %} Faktureringsinformation {% else %} Billing information{% endif %}
            </h2>
            <label>
                <span> {% if include.language == "danish" %} Firmanavn {% else %} Company name {% endif %} </span>
                <input
                    type="text"
                    name="name"
                    placeholder="Company Inc"
                    required
                />
            </label>
            <label>
                <span>
                    {% if include.language == "danish" %}
                        Vejnavn og vejnummer
                    {% else %}
                        Street and street number
                    {% endif %}
                </span>
                <input
                    type="text"
                    name="location_street"
                    required
                />
            </label>
            <div class="two-col-inputs">
                <label>
                    <span> {% if include.language == "danish" %} By {% else %} City {% endif %} </span>
                    <input
                        type="text"
                        name="location_city"
                        required
                    />
                </label>
                <label for="">
                    <span> {% if include.language == "danish" %} Postnummer {% else %} Zip code {% endif %} </span>
                    <input
                        type="number"
                        name="location_zipcode"
                        required
                    />
                </label>
            </div>
            <div class="two-col-inputs">
                <label for="">
                    <span>
                        {% if include.language == "danish" %} Stat (valgfri) {% else %} State (optional) {% endif %}
                    </span>
                    <input
                        type="text"
                        name="location_state"
                    />
                </label>
                <label>
                    <span> {% if include.language == "danish" %} Land {% else %} Country {% endif %} </span>
                    <select
                        name="location_country_id"
                        required
                    >
                        <option value="DK">Denmark</option>
                    </select>
                </label>
            </div>
            <label for="email">
                <span>Email</span>
                <input
                    type="email"
                    name="email"
                    placeholder="user@domain.com"
                    required
                />
            </label>
            <label>
                <span> {% if include.language == "danish" %} Telefonnummer {% else %} Phone number {% endif %} </span>
                <input
                    type="tel"
                    name="phone"
                    required
                />
            </label>
            <label>
                <span>
                    {% if include.language == "danish" %}
                        CVR
                    {% else %}
                        Registration No. (such as VAT or CVR)
                    {% endif %}
                </span>
                <input
                    type="text"
                    name="registration_number"
                    required
                />
            </label>
            <label class="checkbox-container">
                <span>
                    {% if include.language == "danish" %}
                        Jeg accepterer <a target="_blank" href="/fix-google-analytics/vilkaar">vilkår og databehandleraftale</a>
                    {% else %}
                        I accept the terms and conditions
                    {% endif %}
                </span>
                <input
                    required
                    type="checkbox"
                    name="accept_terms"
                />
            </label>
            <button type="submit">{% if include.language == "danish" %} Tilmeld {% else %} Signup {% endif %}</button>
        </div>
    </form>
    <div
        class="contact-form-overlay contact-form-overlay-clickthrough"
        data-analytics-form-overlay
    >
        {% if include.language == "danish" %} Sender... {% else %} Sending... {% endif %}
    </div>
</section>

<script>
    (function () {
        var form = document.getElementById("contact-form-analytics");
        var honeypot = form.UZZvvqxJKRlGGbvYaVxz;
        var nameField = form.name;
        var emailField = form.email;
        var currencyField = form.currency;
        var localeField = form.locale;
        var customerTypeField = form.customer_type;
        var locationStreetField = form.location_street;
        var locationCityField = form.location_city;
        var locationZipField = form.location_zipcode;
        var locationStateField = form.location_state;
        var locationCountryIdField = form.location_country_id;
        var phoneField = form.phone;
        var registrationNumberField = form.registration_number;
        var voucherField = form.voucher;
        var acceptTermsField = form.accept_terms;
        var domainField = form.domain_1;

        var contactFormOverlay = document.querySelector("[data-analytics-form-overlay]");
        var addAdditionalDomainButton = document.querySelector("[data-add-additional-domain");
        var domainsContainer = document.querySelector("[data-domains-container");

        addAdditionalDomainButton.addEventListener("click", function (e) {
            e.preventDefault();
            addNewDomainField();
        });

        form.addEventListener("submit", function (e) {
            e.preventDefault();
            var honeypotValue = honeypot.value;
            if (honeypotValue !== "") {
                document.body.append("honeypot: '" + honeypotValue + "' (" + typeof honeypotValue + ")");
                return;
            }

            showOverlay();

            var customer = {
                email: emailField.value,
                currency: currencyField.value,
                locale: localeField.value,
                type: customerTypeField.value,
                name: nameField.value,
                countryId: locationCountryIdField.value,
                street: locationStreetField.value,
                cityText: locationCityField.value,
                stateText: locationStateField.value,
                zipcode: locationZipField.value,
                phone: phoneField.value,
                registrationNo: registrationNumberField.value,
            };
            var domainList = document.querySelectorAll("[data-domain-field]");
            var domains = [];
            var domainValues = domainList.forEach((input) => {
                if (input.value) {
                    domains.push(input.value);
                }
            });
            var voucher = voucherField.value;

            var data = {
                customer,
                domains,
                voucher,
            };

            sendRequestToApi(form.action, data);

            return false;
        });

        async function sendRequestToApi(url, data) {
            try {
                const rawResponse = await fetch(url, {
                    method: "POST",
                    headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                });
                const content = await rawResponse.json();

                console.log("success", content);
                showSuccess();
            } catch (error) {
                console.log("error", error);
                showFailure();
            }
        }

        function addNewDomainField() {
            var input = document.createElement("INPUT");
            input.setAttribute("Type", "text");
            input.setAttribute("Placeholder", "www.your-domain.com");
            input.setAttribute("data-domain-field", true);
            domainsContainer.appendChild(document.createElement("label")).appendChild(input);
        }

        function showOverlay() {
            contactFormOverlay.innerText = "Getting in touch...";
            contactFormOverlay.classList.remove("contact-form-overlay-clickthrough");
            requestAnimationFrame(function () {
                contactFormOverlay.classList.add("contact-form-overlay-visible");
            });
        }

        function showSuccess() {
            // TODO: Make the success state better/clearer
            contactFormOverlay.classList.remove("contact-form-overlay-visible");

            setTimeout(function () {
                contactFormOverlay.innerText = "Got in touch! 👍";
                contactFormOverlay.classList.add("contact-form-overlay-visible");

                setTimeout(function () {
                    contactFormOverlay.classList.remove("contact-form-overlay-visible");

                    setTimeout(function () {
                        contactFormOverlay.classList.add("contact-form-overlay-clickthrough");
                    }, 500);
                }, 3000);
            }, 200);
        }

        function showFailure() {
            // TODO: Make the success state better/clearer
            contactFormOverlay.classList.remove("contact-form-overlay-visible");

            setTimeout(function () {
                contactFormOverlay.innerText = "Something went wrong - try again! ❌";
                contactFormOverlay.classList.add("contact-form-overlay-visible");

                setTimeout(function () {
                    contactFormOverlay.classList.remove("contact-form-overlay-visible");

                    setTimeout(function () {
                        contactFormOverlay.classList.add("contact-form-overlay-clickthrough");
                    }, 500);
                }, 3000);
            }, 200);
        }
    })();
</script>
