<section>
    <form
        id="contact-form-analytics"
        method="post"
    >
        <label class="honeypot">
            <span>Repeat mail</span>
            <input
                type="text"
                name="UZZvvqxJKRlGGbvYaVxz"
                placeholder="mary.jane@broadwaytheater.com"
            />
            <!-- This is a honeypot, it is invisible to users, but not to bots. If it has value, it means it is a bot -->
        </label>
        <div class="contact-form">
            <h2>{% if include.language == "danish" %} Dine domæner {% else %} Your Domains {% endif %}</h2>
            <div data-domains-container>
                <label>
                    <span>{% if include.language == "danish" %} Domæne {% else %} Domain {% endif %}</span>
                    <input
                        placeholder="www.your-domain.com"
                        type="text"
                        name="domain_1"
                        required
                        data-domain-field
                    />
                </label>
            </div>
            <button
                class="btn"
                data-add-additional-domain
            >
                {% if include.language == "danish" %} Tilføj flere domæner {% else %} Add additional domain {% endif %}
            </button>
            <p>
                {% if include.language == "danish" %}
                    Pris pr. domæne: <strong>37 kr.</strong>
                {% else %}
                    Price per domain: <strong>€5</strong>
                {% endif %}
            </p>
        </div>
        <div class="contact-form">
            <h2>{% if include.language == "danish" %} Valgmuligheder {% else %} Options {% endif %}</h2>
            <input hidden name="currency" value="{% if include.language == 'danish' %}DKK{% else %}EUR{% endif %}" />
            <input hidden name="locale" value="{% if include.language == 'danish' %}da_DK{% else %}en_US{% endif %}" />
            <label>
                <span> {% if include.language == "danish" %} Kundetype {% else %} Customer Type {% endif %} </span>
                <select
                    name="customer_type"
                    required
                >
                    <option value="company">
                        {% if include.language == "danish" %} Virksomhed {% else %} Company {% endif %}
                    </option>
                    <option value="person">
                        {% if include.language == "danish" %} Privatperson {% else %} Individual {% endif %}
                    </option>
                </select>
            </label>
            <label>
                <span>
                    {% if include.language == "danish" %} Rabatkode (valgfri) {% else %} Discount Voucher (optional) {% endif %}
                </span>
                <input
                    type="text"
                    name="voucher"
                />
            </label>
        </div>
        <div class="contact-form">
            <h2>
                {% if include.language == "danish" %} Faktureringsinformation {% else %} Billing information{% endif %}
            </h2>
            <label>
                <span> {% if include.language == "danish" %} Firmanavn {% else %} Company name {% endif %} </span>
                <input
                    type="text"
                    name="name"
                    placeholder="Company Inc"
                    required
                />
            </label>
            <label>
                <span>
                    {% if include.language == "danish" %}
                        Vejnavn og vejnummer
                    {% else %}
                        Street and street number
                    {% endif %}
                </span>
                <input
                    type="text"
                    name="location_street"
                    required
                />
            </label>
            <div class="two-col-inputs">
                <label>
                    <span> {% if include.language == "danish" %} By {% else %} City {% endif %} </span>
                    <input
                        type="text"
                        name="location_city"
                        required
                    />
                </label>
                <label for="">
                    <span> {% if include.language == "danish" %} Postnummer {% else %} Zip code {% endif %} </span>
                    <input
                        type="number"
                        name="location_zipcode"
                        required
                    />
                </label>
            </div>
            <div class="two-col-inputs">
                <label for="">
                    <span>
                        {% if include.language == "danish" %} Stat (valgfri) {% else %} State (optional) {% endif %}
                    </span>
                    <input
                        type="text"
                        name="location_state"
                    />
                </label>
                <label>
                    <span>
                        {% if include.language == "danish" %} Land {% else %} Country {% endif %} *
                    </span>
                    <select
                        name="location_country_id"
                        required
                    >
                        <option value="DK">Danmark</option>
                        <option value="NO">Norge</option>
                        <option value="SE">Sverige</option>
                    </select>
                </label>
            </div>
            <label>
                <span>
                    {% if include.language == "danish" %}
                        * Er dit land ikke på listen? <a href="mailto:get+analytics@deranged.dk">Skriv os en mail</a>, så finder vi ud af det.
                    {% else %}
                        * Are your country missing from the list? <a href="mailto:get+analytics@deranged.dk">Mail us</a> and we will fix it.
                    {% endif %}
                </span>
            </label>
            <label for="email">
                <span>Email</span>
                <input
                    type="email"
                    name="email"
                    placeholder="user@domain.com"
                    required
                />
            </label>
            <label>
                <span> {% if include.language == "danish" %} Telefonnummer {% else %} Phone number {% endif %} </span>
                <input
                    type="tel"
                    name="phone"
                    required
                />
            </label>
            <label>
                <span>
                    {% if include.language == "danish" %}
                        CVR
                    {% else %}
                        Company registration no.
                    {% endif %}
                </span>
                <input
                    type="text"
                    name="registration_number"
                    required
                />
            </label>
            <label class="checkbox-container">
                <span>
                    {% if include.language == "danish" %}
                        Jeg accepterer <a target="_blank" href="/fix-google-analytics/vilkaar">vilkår og databehandleraftale</a>
                    {% else %}
                        I accept the <a target="_blank" href="/fix-google-analytics/vilkaar">terms and conditions</a>
                    {% endif %}
                </span>
                <input
                    required
                    type="checkbox"
                    name="accept_terms"
                />
            </label>
            <button type="submit">{% if include.language == "danish" %} Tilmeld {% else %} Signup {% endif %}</button>
        </div>
    </form>
    <div
        class="contact-form-overlay contact-form-overlay-clickthrough"
        data-analytics-form-overlay
    >
        <div class="contact-form-overlay__message contact-form-overlay__message--awaiting">
            {% if include.language == "danish" %}
                Sender...
            {% else %}
                Sending request...
            {% endif %}
        </div>
        <div class="contact-form-overlay__message contact-form-overlay__message--success">
            <p>
                {% if include.language == "danish" %}
                    Succes! 👍<br>
                    Du modtager en mail med information omkring implementation.
                {% else %}
                    Success! 👍<br>
                    Please confirm you have recieved an email and your order has been registered.
                {% endif %}
            </p>
        </div>
        <div class="contact-form-overlay__message contact-form-overlay__message--error">
            <p>
                {% if include.language == "danish" %}
                    Noget gik desværre galt - Prøv igen ❌
                {% else %}
                    Something went wrong - try again! ❌
                {% endif %}
            </p>
        </div>
    </div>
</section>

<script>
    (function () {
        var form = document.getElementById("contact-form-analytics");
        var honeypot = form.UZZvvqxJKRlGGbvYaVxz;
        var contactFormOverlay = document.querySelector("[data-analytics-form-overlay]");
        var addAdditionalDomainButton = document.querySelector("[data-add-additional-domain");
        var domainsContainer = document.querySelector("[data-domains-container");

        addAdditionalDomainButton.addEventListener("click", function (e) {
            e.preventDefault();
            addNewDomainField(domainsContainer);
        });

        form.addEventListener("submit", function (e) {
            e.preventDefault();
            var honeypotValue = honeypot.value;
            if (honeypotValue !== "") {
                document.body.append("honeypot: '" + honeypotValue + "' (" + typeof honeypotValue + ")");
                return;
            }

            showOverlay();

            var customer = getFormFieldValues(
                form,
                [
                    "email",
                    "currency",
                    "locale",
                    "customer_type",
                    "name",
                    "location_country_id",
                    "location_street",
                    "location_city",
                    "location_state",
                    "location_zipcode",
                    "phone",
                    "registration_number",
                ]
            );
            var domainList = document.querySelectorAll("[data-domain-field]");
            var domains = [];
            var domainValues = domainList.forEach(function(input) {
                if (input.value) {
                    domains.push(input.value);
                }
            });
            sendRequestToApi("https://api.fix-analytics.deranged.dk/customer", {
                customer,
                domains,
                voucher: form.voucher.value,
            });

            return false;
        });

        async function sendRequestToApi(url, data) {
            try {
                const rawResponse = await fetch(url, {
                    method: "POST",
                    headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                });
                const content = await rawResponse.json();

                console.log("success", content);
                showSuccess();
            } catch (error) {
                console.log("error", error);
                showFailure();
            }
        }

        function getFormFieldValues(form, fields) {
            var result = {};
            fields.forEach(function (field) {
                result[field] = form[field].value;
            });
            return result;
        }

        function addNewDomainField(containerElement) {
            var input = document.createElement("input");
            input.setAttribute("type", "text");
            input.setAttribute("placeholder", "www.your-domain.com");
            input.setAttribute("data-domain-field", true);
            containerElement
                .appendChild(document.createElement("label"))
                .appendChild(input);
        }

        function showOverlay() {
            contactFormOverlay.classList.add("contact-form-overlay--awaiting");
            contactFormOverlay.classList.remove("contact-form-overlay-clickthrough");
            requestAnimationFrame(function () {
                contactFormOverlay.classList.add("contact-form-overlay-visible");
            });
        }

        function showSuccess() {
            // TODO: Make the success state better/clearer
            contactFormOverlay.classList.remove("contact-form-overlay-visible");

            setTimeout(function () {
                contactFormOverlay.classList.remove("contact-form-overlay--awaiting");
                contactFormOverlay.classList.add("contact-form-overlay--success");
                contactFormOverlay.classList.add("contact-form-overlay-visible");

                setTimeout(function () {
                    contactFormOverlay.classList.remove("contact-form-overlay-visible");
                    contactFormOverlay.classList.remove("contact-form-overlay--success");

                    setTimeout(function () {
                        contactFormOverlay.classList.add("contact-form-overlay-clickthrough");
                    }, 500);
                }, 3000);
            }, 200);
        }

        function showFailure() {
            // TODO: Make the success state better/clearer
            contactFormOverlay.classList.remove("contact-form-overlay-visible");

            setTimeout(function () {
                contactFormOverlay.classList.remove("contact-form-overlay--awaiting");
                contactFormOverlay.classList.add("contact-form-overlay--error");
                contactFormOverlay.classList.add("contact-form-overlay-visible");

                setTimeout(function () {
                    contactFormOverlay.classList.remove("contact-form-overlay-visible");
                    contactFormOverlay.classList.remove("contact-form-overlay--error");

                    setTimeout(function () {
                        contactFormOverlay.classList.add("contact-form-overlay-clickthrough");
                    }, 500);
                }, 3000);
            }, 200);
        }
    })();
</script>
