<section class="rest-sales">
    <h1>Get a quote</h1>
    <p>
        We generally work with being paid on an hourly basis.
        We are conscious of your budget when planning our work, and communicate with you to ensure there are no surprises.
    </p>
    <p>
        We are experts in working in the most efficient way possible, playing to each others' strengths, making sure you get the most value delivered for your money.
    </p>
    <p>
        Get in touch and we will first arrange a meeting to talk about your concrete business situation.
        We will suggest a small project for you to get familiar with how we work, and if the fit is right initiate a longer, sustainable relationship, where we help you improve your business's software.
    </p>
    <style>
        .contact-form {
            width: 100%;
            max-width: 500px;
            border: 1px solid #1b2b3a;
            background: #ecf0f1;
            padding: 5px 15px;
            color: black;
            position: relative;
        }
        .contact-form .two-col-inputs {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
        }
        .contact-form label {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .contact-form label > span {
            font-size: 0.8em;
        }
        .contact-form label input {
            width: 100%;
            padding: 8px;
            font-family: inherit;
            font-size: 0.9em;
        }
        .contact-form label textarea {
            width: 100%;
            height: 150px;
            resize: none;
            font-family: inherit;
            padding: 8px;
            font-size: 0.9em;
        }
        .contact-form button {
            background: #2c3e50;
            color: #eaf1f7;
            text-decoration: inherit;
            padding: 20px 25px;
            margin: 0 0 10px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;
            display: inline-block;
            border: none;
            width: 100%;
            font-size: 1em;
            font-family: inherit;
        }
        .contact-form button:hover {
            background: #375068;
            transform: scale(1.1);
        }
        .contact-form-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(27,43,58,0.9);
            color: white;
            justify-content: center;
            align-items: center;
            font-size: 1.8em;
            font-weight: 200;
            display: flex;
            opacity: 0;
            transition: opacity 0.3s;
        }
        .contact-form-overlay-clickthrough {
            display: none;
        }
        .contact-form-overlay-visible {
            opacity: 1;
        }

        .side-by-side-contact-form-and-explanation {
            display: flex;
            flex-direction: row;
            padding-left: 300px;
            justify-content: center;
            width: 100%;
        }
        .side-explanation {
            width: 100%;
            max-width: 300px;
            font-size: 0.8em;
            color: rgba(255, 255, 255, 0.8);
            text-align: left;
            padding: 15px;
        }

        @media (max-width: 1100px) {
            .side-by-side-contact-form-and-explanation {
                display: block;
                width: 100%;
                max-width: 500px;
                padding-left: 0;
            }
            .side-explanation {
                padding: 5px 0;
            }
        }
        @media (max-width: 400px) {
            .contact-form {
                margin-left: -6px;
                width: calc(100% + 12px);
            }
            .contact-form .two-col-inputs {
                display: block;
            }
            .contact-form label textarea {
                height: 210px;
            }
        }
    </style>
    <section class="side-by-side-contact-form-and-explanation">
        <section class="contact-form">
            <form id="contactForm" action="https://contact-form.deranged.k8s.deranged.dk/" method="post">
                <div class="two-col-inputs">
                    <label for="name">
                        <span>Name</span>
                        <input type="text" name="name" placeholder="Peter Parker">
                    </label>
                    <label for="email">
                        <span>Email</span>
                        <input type="text" name="email" placeholder="peter.parker@dailyplanet.com">
                    </label>
                </div>
                <label for="subject">
                    <span>Subject</span>
                    <input type="text" name="subject" value="Quote request" placeholder="Quote request">
                </label>
                <label for="message">
                    <span>Message</span>
                    <textarea name="message" placeholder="Hi deranged,

We're planning to expand into a new market, but we need our technology to keep up..."></textarea>
                </label>
                <button type="submit">Get in touch!</button>
            </form>
            <div class="contact-form-overlay contact-form-overlay-clickthrough">Sending...</div>
        </section>
        <script>
            (function() {
                var form = document.getElementById("contactForm");
                var nameField = form.name;
                var emailField = form.email;
                var messageField = form.message;
                var subjectField = form.subject;

                var contactFormOverlay = document.querySelector(".contact-form-overlay");

                form.addEventListener("submit", function(e) {
                    e.preventDefault();
                    showOverlay();

                    var name = nameField.value;
                    var email = emailField.value;
                    var message = messageField.value;
                    var subject = subjectField.value;

                    sendRequest({
                        from: name + "<" + email + ">",
                        subject: "[deranged.dk contact form] " + subject,
                        content: message
                    }, {
                        success: showSuccess,
                        failure: showFailure
                    });

                    return false;
                });

                function showOverlay() {
                    contactFormOverlay.innerText = "Getting in touch...";
                    contactFormOverlay.classList.remove("contact-form-overlay-clickthrough");
                    requestAnimationFrame(function() {
                        contactFormOverlay.classList.add("contact-form-overlay-visible");
                    });
                }

                function sendRequest(data, callbacks) {
                    var req = new XMLHttpRequest();
                    req.open("POST", form.action, true);
                    req.setRequestHeader("Content-Type", "application/json");
                    req.onreadystatechange = function() {
                        if(req.readyState != 4) {
                            return;
                        }
                        if(req.status == 200) {
                            return callbacks.success();
                        }
                        console.error("Response from server on request", {
                            status: req.statusText,
                            responseType: req.responseType,
                            response: req.response
                        });
                        callbacks.failure();
                    };
                    req.send(JSON.stringify(data));
                }

                function showSuccess() {
                    contactFormOverlay.classList.remove("contact-form-overlay-visible");
                    
                    setTimeout(function() {
                        contactFormOverlay.innerText = "Got in touch!";
                        contactFormOverlay.classList.add("contact-form-overlay-visible");

                        setTimeout(function() {
                            contactFormOverlay.classList.remove("contact-form-overlay-visible");

                            setTimeout(function() {
                                contactFormOverlay.classList.add("contact-form-overlay-clickthrough");
                            }, 500);
                        }, 1500);
                    }, 200);

                    deleteTextInField(nameField);
                    deleteTextInField(emailField);
                    deleteTextInField(messageField);
                    deleteTextInField(subjectField, function() {
                        writeTextInField(subjectField, "Quote request");
                    });
                }

                function showFailure() {
                    contactFormOverlay.classList.remove("contact-form-overlay-visible");
                    
                    setTimeout(function() {
                        contactFormOverlay.innerText = "Something went wrong - try again!";
                        contactFormOverlay.classList.add("contact-form-overlay-visible");

                        setTimeout(function() {
                            contactFormOverlay.classList.remove("contact-form-overlay-visible");

                            setTimeout(function() {
                                contactFormOverlay.classList.add("contact-form-overlay-clickthrough");
                            }, 500);
                        }, 2000);
                    }, 200);
                }

                function deleteTextInField(field, callback) {
                    if(field.value.length == 0) {
                        if(callback) {
                            return callback();
                        }
                        return;
                    }
                    field.value = field.value.substring(0, field.value.length - 1);
                    setTimeout(deleteTextInField, 33, field, callback);
                }

                function writeTextInField(field, text) {
                    if(text.length == 0) {
                        return;
                    }
                    field.value += text[0];
                    setTimeout(writeTextInField, 33, field, text.substring(1));
                }
            })();
        </script>
        <div class="side-explanation">
            <p>
                The contact form runs on our tiny open-source <a href="https://github.com/derangeddk/contact-form-api/" target="_blank" rel="noopener">contact-form-api</a>, which is highly configurable, and is easy to use for your business, too.
            </p>
            <p>
                It runs as a separate service, and comes packaged with a Dockerfile, so it takes minutes to launch it on your own infrastructure.
            </p>
        </div>
    </section>
</section>
