{% if  include.standalone != 'true' %}
<section class="content content--blue">
  <div class="content__container content__container--wide">
{% endif %}
    {% if  include.standalone != 'true' %}
    <div class="request-contact" id="contact">
    {% else %}
    <div class="request-contact request-contact--standalone" id="contact">
    {% endif %}
      <div class="request-contact__text">
        <h2 class="section__heading">
          {% if page.lang == 'da_dk' %}
            Kontakt os
          {% else %}
            Get in touch
          {% endif %}
        </h2>
        <div class="section__text">
          <p>
            {% if page.lang == 'da_dk' %}
              Indsend din e-mailadresse, så vender vi tilbage til dig
            {% else %}
              Submit your email address and we will get back to you
            {% endif %}
          </p>
        </div>
      </div>
      <div class="contact-form contact-form--small">
        <form id="contactRequest" action="https://contact-form.deranged.k8s.deranged.dk/" method="post">
          <label class="honeypot">
            <span>Repeat mail</span>
            <input type="email" name="UZYvvqxJKVgFLbvYcWxs" placeholder="mary.jane@broadwaytheater.com" tabindex="-1">
            <!-- This is a honeypot, it is invisible to users, but not to bots. If it has value, it means it is a bot -->
          </label>
          <div class="contact-form__row">
            <label>
              <span>Email</span>
              <input type="email" name="email" required placeholder="peter.parker@dailyplanet.com">
            </label>
            <label>
              <span>
                {% if page.lang == 'da_dk' %}
                  Telefon (valgfri)
                {% else %}
                  Phone number (optional)
                {% endif %}
              </span>
              <input type="tel" name="phone" placeholder="39602504" pattern="(?=(?:.*\d){8})(?=.{1,15}$)\+?[\d\s\(\)\-]+">
            </label>
            <button class="button contact-form__submit" type="submit" id="submitButton">
              {% if page.lang == 'da_dk' %}
                Indsende
              {% else %}
                Submit
              {% endif %}
            </button>
          </div>
        </form>
        <div class="contact-form-overlay contact-form-overlay-clickthrough">
          {% if page.lang == 'da_dk' %}
            Sender...
          {% else %}
            Submitting...
          {% endif %}
        </div>
      </div>
    </div>
{% if  include.standalone != 'true' %}
  </div>
</section>
{% endif %}

<script>
  (function() {
    var form = document.getElementById("contactRequest");
    var honeypot = form.UZYvvqxJKVgFLbvYcWxs;
    var emailField = form.email;
    var phoneField = form.phone;
    var contactFormOverlay = document.querySelector(".contact-form-overlay");
    
    form.addEventListener("submit", function(e) {
      e.preventDefault();
      var honeypotValue = honeypot.value;
      if(honeypotValue !== "") {
        document.body.append("honeypot: '" + honeypotValue + "' (" + typeof honeypotValue + ")");
        return;
      }

      showOverlay();

      var email = emailField.value;
      var phone = phoneField.value;

      sendRequest({
        from: `<${email}>`,
        subject: `[${window.location.href}] contact request`,
        content: "Contact request from " + email + (phone ? ` ${phone}` : "")
      }, {
        success: showSuccess,
        failure: showFailure
      });

      return false;
    });

    function showOverlay() {
      contactFormOverlay.innerText = "Getting in touch...";
      contactFormOverlay.classList.remove("contact-form-overlay-clickthrough");
      requestAnimationFrame(function() {
          contactFormOverlay.classList.add("contact-form-overlay-visible");
      });
    }

    function sendRequest(data, callbacks) {
      var req = new XMLHttpRequest();
      req.open("POST", form.action, true);
      req.setRequestHeader("Content-Type", "application/json");

      req.onreadystatechange = function() {
        if(req.readyState != 4) {
          return;
        }
        if(req.status == 200) {
          return callbacks.success();
        }
        console.error("Response from server on request", {
          status: req.statusText,
          responseType: req.responseType,
          response: req.response
        });
        callbacks.failure();
      };
      req.send(JSON.stringify(data));
    }

    function showSuccess() {
      contactFormOverlay.classList.remove("contact-form-overlay-visible");

      setTimeout(function() {
        contactFormOverlay.innerText = "Got in touch!";
        contactFormOverlay.classList.add("contact-form-overlay-visible");

        setTimeout(function() {
          contactFormOverlay.classList.remove("contact-form-overlay-visible");

          setTimeout(function() {
            contactFormOverlay.classList.add("contact-form-overlay-clickthrough");
          }, 500);
        }, 1500);
      }, 200);

      deleteTextInField(emailField);
      deleteTextInField(phoneField)
    }

    function showFailure() {
      contactFormOverlay.classList.remove("contact-form-overlay-visible");

      setTimeout(function() {
        contactFormOverlay.innerText = "Something went wrong - try again!";
        contactFormOverlay.classList.add("contact-form-overlay-visible");

        setTimeout(function() {
          contactFormOverlay.classList.remove("contact-form-overlay-visible");

          setTimeout(function() {
            contactFormOverlay.classList.add("contact-form-overlay-clickthrough");
          }, 500);
        }, 2000);
      }, 200);
    }

    function deleteTextInField(field, callback) {
      if(field.value.length == 0) {
        if(callback) {
          return callback();
        }
        return;
      }
      field.value = field.value.substring(0, field.value.length - 1);
      setTimeout(deleteTextInField, 33, field, callback);
    }
  })();
</script>
