<section class="rest-sales">
    <h1>Get a quote</h1>
    <p>
        We generally work with being paid on an hourly basis.
        We are conscious of your budget when planning our work, and communicate with you to ensure there are no surprises.
    </p>
    <p>
        We are experts in working in the most efficient way possible, playing to each others' strengths, making sure you get the most value delivered for your money.
    </p>
    <p>
        Get in touch and we will first arrange a meeting to talk about your concrete business situation.
        We will suggest a small project for you to get familiar with how we work, and if the fit is right initiate a longer, sustainable relationship, where we help you improve your business's software.
    </p>
    <section class="side-by-side-contact-form-and-explanation">
        <section class="contact-form">
            <form id="contactForm" action="https://contact-form.deranged.k8s.deranged.dk/" method="post">
                <!-- This is a honeypot, it is invisible to users, bot not to bots. If it has value, it means it is a bot -->
                <label for="mail" class="honeypot">
                    <span>mail</span>
                    <input type="text" name="mail" placeholder="mary.jane@broadwaytheater.com">
                </label>
                <div class="two-col-inputs">
                    <label for="name">
                        <span>Name</span>
                        <input type="text" name="name" placeholder="Peter Parker">
                    </label>
                    <label for="email">
                        <span>Email</span>
                        <input type="text" name="email" placeholder="peter.parker@dailyplanet.com">
                    </label>
                </div>
                <label for="subject">
                    <span>Subject</span>
                    <input type="text" name="subject" value="Quote request" placeholder="Quote request">
                </label>
                <label for="message">
                    <span>Message</span>
                    <textarea name="message" placeholder="Hi deranged,

We're planning to expand into a new market, but we need our technology to keep up..."></textarea>
                </label>
                <button type="submit">Get in touch!</button>
            </form>
            <div class="contact-form-overlay contact-form-overlay-clickthrough">Sending...</div>
        </section>
        <script>
            (function() {
                var form = document.getElementById("contactForm");
                var honeypot = form.mail;
                if(honeypot !== "") {
                  return;
                }
                var nameField = form.name;
                var emailField = form.email;
                var messageField = form.message;
                var subjectField = form.subject;

                var contactFormOverlay = document.querySelector(".contact-form-overlay");

                form.addEventListener("submit", function(e) {
                    e.preventDefault();
                    showOverlay();

                    var name = nameField.value;
                    var email = emailField.value;
                    var message = messageField.value;
                    var subject = subjectField.value;

                    sendRequest({
                        from: name + "<" + email + ">",
                        subject: "[deranged.dk contact form] " + subject,
                        content: message
                    }, {
                        success: showSuccess,
                        failure: showFailure
                    });

                    return false;
                });

                function showOverlay() {
                    contactFormOverlay.innerText = "Getting in touch...";
                    contactFormOverlay.classList.remove("contact-form-overlay-clickthrough");
                    requestAnimationFrame(function() {
                        contactFormOverlay.classList.add("contact-form-overlay-visible");
                    });
                }

                function sendRequest(data, callbacks) {
                    var req = new XMLHttpRequest();
                    req.open("POST", form.action, true);
                    req.setRequestHeader("Content-Type", "application/json");
                    req.onreadystatechange = function() {
                        if(req.readyState != 4) {
                            return;
                        }
                        if(req.status == 200) {
                            return callbacks.success();
                        }
                        console.error("Response from server on request", {
                            status: req.statusText,
                            responseType: req.responseType,
                            response: req.response
                        });
                        callbacks.failure();
                    };
                    req.send(JSON.stringify(data));
                }

                function showSuccess() {
                    contactFormOverlay.classList.remove("contact-form-overlay-visible");
                    
                    setTimeout(function() {
                        contactFormOverlay.innerText = "Got in touch!";
                        contactFormOverlay.classList.add("contact-form-overlay-visible");

                        setTimeout(function() {
                            contactFormOverlay.classList.remove("contact-form-overlay-visible");

                            setTimeout(function() {
                                contactFormOverlay.classList.add("contact-form-overlay-clickthrough");
                            }, 500);
                        }, 1500);
                    }, 200);

                    deleteTextInField(nameField);
                    deleteTextInField(emailField);
                    deleteTextInField(messageField);
                    deleteTextInField(subjectField, function() {
                        writeTextInField(subjectField, "Quote request");
                    });
                }

                function showFailure() {
                    contactFormOverlay.classList.remove("contact-form-overlay-visible");
                    
                    setTimeout(function() {
                        contactFormOverlay.innerText = "Something went wrong - try again!";
                        contactFormOverlay.classList.add("contact-form-overlay-visible");

                        setTimeout(function() {
                            contactFormOverlay.classList.remove("contact-form-overlay-visible");

                            setTimeout(function() {
                                contactFormOverlay.classList.add("contact-form-overlay-clickthrough");
                            }, 500);
                        }, 2000);
                    }, 200);
                }

                function deleteTextInField(field, callback) {
                    if(field.value.length == 0) {
                        if(callback) {
                            return callback();
                        }
                        return;
                    }
                    field.value = field.value.substring(0, field.value.length - 1);
                    setTimeout(deleteTextInField, 33, field, callback);
                }

                function writeTextInField(field, text) {
                    if(text.length == 0) {
                        return;
                    }
                    field.value += text[0];
                    setTimeout(writeTextInField, 33, field, text.substring(1));
                }
            })();
        </script>
        <div class="side-explanation">
            <p>
                The contact form runs on our tiny open-source <a href="https://github.com/derangeddk/contact-form-api/" target="_blank" rel="noopener">contact-form-api</a>, which is highly configurable, and is easy to use for your business, too.
            </p>
            <p>
                It runs as a separate service, and comes packaged with a Dockerfile, so it takes minutes to launch it on your own infrastructure.
            </p>
        </div>
    </section>
</section>
