<style type="text/css" scoped>
.latest-posts {
  margin: 0;
  color: #eaf1f7;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.latest-posts__content {
  padding: 1.5rem 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.latest-posts__wrapper {
  width: 100%;
  max-width: 1400px;
  padding: 3rem 1rem;

  @media(min-width: 1200px) {
    /* Add Padding-bottom to make space for bottom ↯ symbol */
    padding: 3rem 100px 2rem;
  }
}

.latest-posts__heading {
  width: 100%;
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: left;
}

.latest-posts__blog-title {
  color: #2c3e50;
  font-size: 4em;
  font-weight: 200;
  text-align: left;
  width: 100%;
  max-width: 1400px;
  padding: 0 70px;

  @media screen and (max-width: 991px) {
    padding: 0 46px;
  }
}

.latest-posts__title {
  color: #2c3e50;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  text-align: left;
  font-weight: 400;
  font-size: 1.8em;
}

.latest-posts__list-container {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  font-size: 18px;

  @media screen and (max-width: 991px) {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
  }
}

.latest-posts__list-container--2-col {
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.latest-posts__list-item {
  color: #2c3e50;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.latest-posts__list-item:hover {
  transform: scale(1.015);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.latest-posts__list-item-thumbnail {
  height: 100%;
  max-width: 300px;
  object-fit: cover;
  mask-image: linear-gradient(to left, rgb(0, 0, 0), rgba(0,0,0,0) 80%);
  opacity: 0.2;
  position: absolute;
  right: 0;
  z-index: 0;

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.latest-posts__tags {
  margin-top: 1rem;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  @media(min-width: 1050px) {
    position: absolute;
    right: 2rem;
    margin-top: 0;
  }
}

.latest-posts__tag {
  background-color: var(--deranged-light-blue);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.8rem;
  font-family: monospace;
  display: inline-block;
  color: #fff;
  width: fit-content;
  z-index: 1;
  line-height: 1;
}

.latest-posts__list-item-title {
  color: #2c3e50;
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 1rem;
  text-align: left;
}

@media screen and (max-width: 991px) {
  .latest-posts__list-item-title {
    font-size: 1.2em;
  }
}

.latest-posts__list-item-summary {
  color: #2c3e50;
  text-align: left;
  flex: 1;
  line-height: 1.5;
  display: grid;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
}

.latest-posts__list-item-summary-text {
  margin-bottom: 0;
}

.latest-posts__list-item-summary-readmore {
  display: inline-block;
}

.latest-posts__meta {
  display: flex;
  flex-direction: column;
}

.latest-posts__meta-header {
    font-size: 0.9em;
    margin-top: 0;
}

.latest-posts__authors {
  display: flex;
  gap: 0.85rem;
  flex-wrap: wrap;
}

.latest-posts__author {
  display: flex;
  gap: 0.85rem;
}

.latest-posts__author-text {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  text-align: left;
}

.latest-posts__author-avatar {
  border-radius: 50%;
  height: 55px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
  outline: 1px solid var(--deranged-light-blue);
  padding: 3px;
}

.latest-posts__publish-date {
  margin-top: 8px;
  font-size: 0.8em;
}

.button {
  border-color: #ecf0f1;
  border-style: solid;
  border-width: 1px;
}

.latest-posts__cta {
  margin-top: 2rem;
  text-align: left;
}
</style>

<aside class="latest-posts {% if include.wrapper == 'true' %}content--blue{% endif %}">
  <div class="{% if include.wrapper == 'true' %}latest-posts__wrapper{% endif %}">
    {% if include.blog != 'true' %}
      <h2 class="latest-posts__heading display-2">
        {% if include.title %}
          {{ include.title }}
        {% else %}
          Recent posts
        {% endif %}
      </h2>
    {% endif %}
    <div class="latest-posts__list-container">
      {% assign filtered_posts = site.posts %}
      {% if include.post == 'true' %}
        {% assign filtered_posts = site.posts | where_exp: "post", "post.title != page.title" %}
      {% endif %}
      {% for post in filtered_posts limit: include.limit %}
      <a href="{{ post.url }}" class="latest-posts__list-item" lang="{% if post.lang == 'da_dk' %}da-dk{% else %}en{% endif %}">
        <div class="latest-posts__content">
          <h3 class="latest-posts__list-item-title">
            {{ post.title }}
          </h3>
          <div class="latest-posts__list-item-summary">
            <p class="latest-posts__list-item-summary-text">
              {{ post.excerpt }}
            </p>
            <span class="latest-posts__list-item-summary-readmore">➟ <u>{% if post.lang == 'da_dk' %}Læs&nbsp;mere{% else %}Read&nbsp;more{% endif %}</u></span>
          </div>
          <div class="latest-posts__meta">
            <h4 class="latest-posts__meta-header">{% if post.lang == 'da_dk' and post.author.size == 1 %}Forfatter{% elsif post.author.size == 1 %}Author{% elsif post.lang == 'da_dk' and post.author.size > 1 %}Forfattere{% elsif post.author.size > 1 %}Authors{% endif %}</h4>
            <div class="latest-posts__authors">
              {% assign authors = post.author %}
              {% for author in authors %}
              <div class="latest-posts__author">
                <img src="{{author.image}}" alt="" class="latest-posts__author-avatar" />
                <div class="latest-posts__author-text">
                  {% if author.name %}
                    {{ author.name }}
                  {% endif %}
                  {% if author.title %}
                    <i>{{ author.title }}</i>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
            <span class="latest-posts__publish-date">
              {% if post.lang == 'da_dk' %}Offentliggjort{% else %}Published{% endif %} {{ post.at }}
            </span>
          </div>
          <div class="latest-posts__tags">
            <div class="latest-posts__tag">
              {% if post.lang == 'da_dk' %}🇩🇰 dansk{% else %}🇬🇧 english{% endif %}
            </div>
          </div>
        </div>
        <img
          src="{{post.img-small}}"
          loading="lazy"
          alt=""
          class="latest-posts__list-item-thumbnail"
        />
      </a>
      {% endfor %}
    </div>
    {% if include.blog != 'true' %}
      <a href="/blog" class="latest-posts__cta button">
        Read more posts
      </a>
    {% endif %}
  </div>
</aside>
