<style type="text/css" scoped>
.latest-posts {
  margin: 0;
  color: #eaf1f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
  padding-top: 3rem;
}

.latest-posts__heading {
  padding: 2em 100px 2em;
  width: 100%;
  text-align: left;
}

.latest-posts__blog-title {
  color: #2c3e50;
  font-size: 4em;
  font-weight: 200;
  text-align: left;
  width: 100%;
  max-width: 1400px;
  padding: 0 70px;
  }

.latest-posts__title {
  color: #2c3e50;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  text-align: left;
  font-weight: 400;
  font-size: 1.8em;
}

.latest-posts__list-container {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  font-size: 18px;
  padding: 0 100px 2em;
  max-width: 1400px;
}
@media screen and (max-width: 991px) {
  .latest-posts__blog-title {
    padding: 0 46px;
  }
  .latest-posts__heading {
    padding: 2em 2em 2em;
  }
  .latest-posts__list-container {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media screen and (max-width: 767px) {
  .latest-posts__list-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 479px) {
  .latest-posts__heading {
    padding: 2em 1em 2em;
  }
  .latest-posts__list-container {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.latest-posts__list-item {
  color: #2c3e50;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
}

.latest-posts__list-item:hover {
  transform: scale(1.015);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.latest-posts__list-item-thumbnail {
  max-height: 250px;
  max-width: 100%;
  object-fit: cover;
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.latest-posts__list-item-title {
  color: #2c3e50;
  font-size: 1.3em;
  letter-spacing: 1px;
  margin: 10px 10px 6px;
  text-align: left;
}
@media screen and (max-width: 991px) {
  .latest-posts__list-item-title {
    font-size: 1.2em;
    margin-bottom: 0;
  }
}

.latest-posts__list-item-summary {
  color: #2c3e50;
  text-align: left;
  flex: 1;
  line-height: 1.5;
  margin: 0 10px 10px;
}

.button {
  width: auto;
  border-color: #ecf0f1;
  border-style: solid;
  border-width: 1px;
}
</style>

<aside class="latest-posts section--dark">
  {% if include.blog != 'true' %}
  <div class="latest-posts__heading">
    <h2 class="display-2">
      {% if include.title %}
        {{include.title}}
      {% else %}
        Recent posts
      {% endif %}
    </h2>
  </div>
  {% endif %}
  <div class="latest-posts__list-container">
    {% assign filtered_posts = site.posts %}
    {% if include.post == 'true' %}
      {% assign filtered_posts = site.posts | where_exp: "post", "post.title != page.title" %}
    {% endif %}
    {% for post in filtered_posts limit: include.limit %}
    <a href="{{post.url}}" class="latest-posts__list-item">
      <img
          src="{{post.img-small}}"
          loading="lazy"
          alt=""
          class="latest-posts__list-item-thumbnail"
      />
      <h3 class="latest-posts__list-item-title">{{post.title}}</h3>
      <p class="latest-posts__list-item-summary">{{post.excerpt}} <u>Read&nbsp;more</u></p>
    </a>
    {% endfor %}
  </div>
  {% if include.blog != 'true' %}
    <a href="/blog" class="button">Read more posts here</a>
  {% endif %}
</aside>
