<style type="text/css" scoped>
.latest-posts {
  margin: 0;
  color: #eaf1f7;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.latest-posts__content {
  padding: 1.5rem 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.latest-posts__wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 3rem 1.5rem;

  @media(min-width: 1200px) {
    /* Add Padding-bottom to make space for bottom ↯ symbol */
    padding: 3rem 100px 2rem;
  }
}

.latest-posts__heading {
  width: 100%;
  margin-bottom: 2rem;
  text-align: left;
}

.latest-posts__blog-title {
  color: #2c3e50;
  font-size: 4em;
  font-weight: 200;
  text-align: left;
  width: 100%;
  max-width: 1400px;
  padding: 0 70px;
  }

.latest-posts__title {
  color: #2c3e50;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  text-align: left;
  font-weight: 400;
  font-size: 1.8em;
}

.latest-posts__list-container {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: minmax(350px, 1fr) minmax(350px, 1fr);
  font-size: 18px;
}
@media screen and (max-width: 991px) {
  .latest-posts__blog-title {
    padding: 0 46px;
  }
  .latest-posts__list-container {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
  }
}
@media screen and (max-width: 767px) {
  .latest-posts__list-container {
    grid-template-columns: 1fr;
  }
}

.latest-posts__list-item {
  color: #2c3e50;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
}

.latest-posts__list-item:hover {
  transform: scale(1.015);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.latest-posts__list-item-thumbnail {
  max-height: 250px;
  max-width: 100%;
  object-fit: cover;
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  display: none;
}

.latest-posts__list-item-title {
  color: #2c3e50;
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 1rem;
  text-align: left;
}
@media screen and (max-width: 991px) {
  .latest-posts__list-item-title {
    font-size: 1.2em;
    margin-bottom: 0;
  }
}

.latest-posts__list-item-summary {
  color: #2c3e50;
  text-align: left;
  flex: 1;
  line-height: 1.5;
}

.latest-posts__meta {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  text-align: left;
}

.button {
  width: auto;
  border-color: #ecf0f1;
  border-style: solid;
  border-width: 1px;
}

.latest-posts__cta {
  margin-top: 2rem;
  text-align: left;
}
</style>

<aside class="latest-posts section--dark">
  <div class="latest-posts__wrapper">
    <div class="latest-posts__heading">
      <h2 class="display-2">
        {% if include.blog != 'true' %}
          {% if include.title %}
            {{include.title}}
          {% else %}
            Recent posts
          {% endif %}
        {% else %}
          Our posts
        {% endif %}
      </h2>
    </div>
    <div class="latest-posts__list-container">
      {% assign filtered_posts = site.posts %}
      {% if include.post == 'true' %}
        {% assign filtered_posts = site.posts | where_exp: "post", "post.title != page.title" %}
      {% endif %}
      {% for post in filtered_posts limit: include.limit %}
      <a href="{{post.url}}" class="latest-posts__list-item">
        <img
            src="{{post.img-small}}"
            loading="lazy"
            alt=""
            class="latest-posts__list-item-thumbnail"
        />
        <div class="latest-posts__content">
          <h3 class="latest-posts__list-item-title">
            {{post.title}}
          </h3>
          <p class="latest-posts__list-item-summary">
            {{post.excerpt}}
            <br><u>Read&nbsp;more</u>
          </p>
          <div class="latest-posts__meta">
            {% if post.author %}
              By {{ post.author }}
            {% endif %}
            {% if post.at %}
              <span>Published {{post.at}}</span>
            {% endif %}
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    {% if include.blog != 'true' %}
      <a href="/blog" class="latest-posts__cta button">
        Read more posts here
      </a>
    {% endif %}
  </div>
</aside>
