<a href="#first-content" class="skip-to-main-content-link">Skip to main content</a>
<button id="main-nav-toggle" onClick="handleNav()" aria-label="Menu" aria-controls="main-nav">
  <div class="icon-bar"></div>
  <div class="icon-bar"></div>
  <div class="icon-bar"></div>
</button>
<nav id="main-nav" class="main-nav overlay">
  <div class="main-nav-menu" id="main-nav-menu" display="none">
    {% include menu_links.html %}
  </div>
</nav>

<script>   
  function handleNav() {
    var attr = document.getElementById('main-nav-menu').attributes;
    if (attr['display'].value == "none") {
      document.getElementById('main-nav-menu').setAttribute("display", "block");
      requestAnimationFrame(
        document.querySelector("body").classList.toggle("main-nav-open")
      );
    } else {
      document.querySelector("body").classList.toggle("main-nav-open");
      setTimeout(cb, 300);
      document.getElementById('main-nav-menu').setAttribute("display", "none");
    };
  };
</script>
