<a href="#first-content" class="skip-to-main-content-link">
  Skip to main content
</a>

<button id="main-nav-toggle" aria-label="Menu" aria-controls="main-nav">
  <div class="icon-bar"></div>
  <div class="icon-bar"></div>
  <div class="icon-bar"></div>
</button>
<nav id="main-nav" class="main-nav overlay u-hide" lang="en">
  <div class="main-nav-menu" id="main-nav-menu">
    {% include menu_links.html %}
  </div>
</nav>

<script>
  document.getElementById('main-nav-toggle').addEventListener("click", function () {
    var classes = document.getElementById('main-nav').classList;
    var mainNavToggle = document.getElementById('main-nav-toggle');
    var nonNavElements = document.querySelectorAll(
      'body > :not(#main-nav, #main-nav-toggle)'
    );
    if (classes.contains("u-hide")) {
      document.getElementById('main-nav').classList.toggle('u-hide');
      requestAnimationFrame(() => {
        document.querySelector("body").classList.toggle("main-nav-open");
      });
      mainNavToggle.setAttribute('aria-label', 'Close menu');
      nonNavElements.forEach(e => {
        e.setAttribute('inert', 'true');
      });
    } else {
      document.querySelector("body").classList.toggle("main-nav-open");
      setTimeout(() => {
        document.getElementById('main-nav').classList.toggle('u-hide');
      }, 300);
      mainNavToggle.setAttribute('aria-label', 'Menu');
      nonNavElements.forEach(e => {
        e.removeAttribute('inert');
      });
    };
  });
</script>
