<a href="#first-content" class="skip-to-main-content-link">Skip to main content</a>
<button id="main-nav-toggle" aria-label="Menu" aria-controls="main-nav">
  <div class="icon-bar"></div>
  <div class="icon-bar"></div>
  <div class="icon-bar"></div>
</button>
<nav id="main-nav" class="main-nav overlay" lang="en">
  <div class="main-nav-menu hidden" id="main-nav-menu">
    {% include menu_links.html %}
  </div>
</nav>

<script>
  document.getElementById('main-nav-toggle').addEventListener("click", function () {
    var classes = document.getElementById('main-nav-menu').classList;
    if (classes.contains("hidden")) {
      document.getElementById('main-nav-menu').classList.toggle('hidden');
      requestAnimationFrame(() => {
        document.querySelector("body").classList.toggle("main-nav-open");
      });
    } else {
      document.querySelector("body").classList.toggle("main-nav-open");
      setTimeout(() => {
        document.getElementById('main-nav-menu').classList.toggle('hidden');
      }, 300);

    };
  });
</script>
