<aside class="other-pages-section">
    <section class="ski-provider-section">
        <img src="/img/leverandoer_logo_monochrom_RGB.png" alt="ski-logo" loading="lazy" />
        <h2 class="ski-provider-section__title">Staten og Kommunernes Indkøbsservice providers</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel consectetur odio. Nulla semper dapibus ante, vitae feugiat ipsum gravida eu. Fusce interdum erat non arcu commodo condimentum. Ut vel vulputate ligula. Integer aliquam, neque a convallis molestie, orci massa dapibus orci, ac porta diam nibh sit amet massa.
        </p>
    </section>
    <section class="dosl-provider-section">
        <img src="/img/dosl-logo-white.svg" alt="dosl-logo" loading="lazy" />
        <h2 class="dosl-provider-section__title">Danish Open Source Suppliers</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel consectetur odio. Nulla semper dapibus ante, vitae feugiat ipsum gravida eu. Fusce interdum erat non arcu commodo condimentum. Ut vel vulputate ligula. Integer aliquam, neque a convallis molestie, orci massa dapibus orci, ac porta diam nibh sit amet massa.
        </p>
    </section>
</aside>