<section class="other-pages-section">
  <section class="who-we-are-section">
    <div class="who-we-are-content">
      <h2 class="who-we-are-section__title">Meet the team</h2>
      <p>
        Our team consists of enthusiastic, flexible and engaged people with a
        varied set of backgrounds. We work very deliberately to be flexible and
        efficient, a company full of people who make a positive difference in
        whichever setting they are placed.
      </p>
      <p>
        When hiring, we look for people who care about making a difference in
        their day-to-day life, and as a customer you're sure to experience this,
        too.
      </p>
      <p>
        Finding incredible people means thinking hard about the kind of work
        environment we create. We are always reevaluating, and figuring out how
        to create an efficient, inclusive and open space to work in, and we
        bring that spirit with us wherever we work.
      </p>
      <a href="/the-team/" class="read-more">Check out the team</a>
    </div>
    <div class="team-photos">
      <div><img src="/img/people/asbjoern-thegler-thumb.jpg" alt="" /></div>
      <div><img src="/img/people/simon-thumb.jpg" alt="" /></div>
      <div><img src="/img/people/haidar-thump.jpg" alt="" /></div>
      <div><img src="/img/people/philip-dein-thumb.jpg" alt="" /></div>
      <div><img src="/img/people/anders-thumb.jpg" alt="" /></div>
      <div><img src="/img/people/niels-abildgaard-thumb.jpg" alt="" /></div>
    </div>
  </section>
  <section class="smv-digital-section">
    <img src="/img/smvdigital.svg" style="filter: invert()" />
    <h2 class="smv-digital-section__title">Approved advisors</h2>
    <p>
      Several of our employees are approved advisors in the
      <a href="https://smvdigital.dk" target="_blank" rel="noopener"
        >SMV:Digital</a
      >
      advisor registry.
    </p>
    <p>
      That means that you may be able to get some of the work on digitalization
      of your company subsidized while working with us. Companies with 3-249
      full-time employees can get 100.000-250.000 DKK in subsidies, and
      companies with 2-49 full-time employees can get 25.000 DKK if they qualify
      for the funds.
    </p>
    <p>
      You can
      <a
        href="https://smvdigital.dk/content/ydelser/tilbud/4e84e652-3d63-4b24-b5f5-a278d2ad27e6/"
        target="_blank"
        rel="noopener"
        >see if you are eligible</a
      >, and <a href="#contact">contact us</a> to hear more.
    </p>
  </section>
</section>
