<style type="text/css" scoped>
  .trusted-section {
    color: #eaf1f7;
    background-color: #2c3e50;
    padding: 4em;
    width: 100%;
  }

  .trusted-container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
  }

  h4 {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
  }

  .logo-container {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }

  .client-logo {
    margin-right: 12px;
    max-height: 68px;
    padding: 8px;
  }

  .client-logo.svg {
    padding: 16px 8px;
  }

  @media screen and (max-width: 767px) {
    .trusted-section {
      padding-top: 3em;
      padding-bottom: 3em;
    }
  }
</style>

<section class="trusted-section">
  <div class="trusted-container">
    <h4>deranged is trusted by:</h4>
    <a href="/cases" class="logo-container">
      <img src="/img/marmar.png" class="client-logo" alt="" />
      <img src="/img/fischer-lighting.png" class="client-logo" alt="" />
      <img src="/img/kbh-stadsarkiv.png" class="client-logo" alt="" />
      <img src="/img/nornorm-km.png" class="client-logo" alt="" />
      <img src="/img/PenlyLogo.svg" class="client-logo svg" alt="" />
    </a>
  </div>
</section>
