<style type="text/css" scoped>
  .trusted-section {
    color: var(--deranged-text);
    background-color: var(--deranged-dark-blue);
    padding: 4em;
    width: 100%;
  }

  .trusted-section__container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
  }

  .trusted-section__container p {
    text-align: left;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5;
  }

  .trusted-section__logo-container {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }

  .trusted-section__logo {
    margin-right: 12px;
    max-height: 68px;
    padding: 8px;
  }

  .trusted-section__logo--light {
    filter: invert() hue-rotate(180deg) saturate(0.3) brightness(1.2);
  }

  @media screen and (max-width: 767px) {
    .trusted-section {
      padding-top: 3em;
      padding-bottom: 3em;
    }
  }
</style>

<aside class="trusted-section">
  <div class="trusted-section__container">
    <p>deranged is trusted by:</p>
    <a href="/cases" class="trusted-section__logo-container" aria-label="Read examples of what we have done">
      <img src="/img/marmar.png" class="trusted-section__logo" alt="Marmar" loading="lazy" />
      <img src="/img/fischer-lighting.png" class="trusted-section__logo" alt="Fischer lighting" loading="lazy" />
      <img src="/img/KK_logo.svg" class="trusted-section__logo trusted-section__logo--light" alt="Municipality of Copenhagen" loading="lazy" />
      <img src="/img/nornorm.svg" class="trusted-section__logo trusted-section__logo--light" alt="Nornorm" loading="lazy" />
      <img src="/img/PenlyLogo.svg" class="trusted-section__logo trusted-section__logo--light" alt="Penly" loading="lazy" />
    </a>
  </div>
</aside>
