// TODO: Split this file up into smaller components and BEMify it.

/*
Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: none;
    word-wrap: break-word;
    overflow-wrap: break-word;

    @media(max-width: 767px) {
        hyphens: auto;
    }
}

.content__container--full-width {
    max-width: 100%;
}

.content__image-container {
    max-width: 300px;
    margin: auto;

    img {
        width: 100%;
        border-radius: 4px;
    }

    @media (min-width: 768px) {
        float: right;
        margin: 1rem 2.25rem;
    }
}

.content:has(.request-contact--standalone) {
    padding-bottom: 24rem;

    @media(min-width: 768px) {
      padding-bottom: 21.2rem;
    }
}

.content:has(.request-contact--standalone) + .content {
    padding-top: 12rem;
}

figcaption {
    font-size: 0.875rem;
    color: #666;
    margin-top: 0.5rem;
    text-align: center;
}

.section__heading {
    margin-bottom: 1rem;
    margin-top: 0;
    text-align: left;
    letter-spacing: 1px;
    text-transform: none;
    font-size: 2.7rem;
    font-weight: 700;
}

.section__heading--light {
    font-weight: 200;
}

.section__heading--extra-margin-bottom {
    margin-bottom: 4rem;
}

.section__text {
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 2rem;

    p:last-child {
        margin-bottom: 0;
    }
}

.section__two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.team-photos {
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    img {
        object-fit: cover;
        height: 260px;
        width: 100%;
        box-shadow: 0 6px 5px rgba(0,0,0,0.2), 0 4px 3px rgba(0,0,0,0.05);
    }

    figure {
        margin: 0;
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        transform: translate(0, 0) scale(0.9);
        box-shadow: 0 6px 5px rgba(0,0,0,0.2), 0 4px 3px rgba(0,0,0,0.05);
        img {
            box-shadow: none;
            height: 440px;
        }
        .photo-caption {
            margin: 1rem 0.8rem;
            transform: translate(0, 0) scale(1.2);
        }
    }

    div:nth-of-type(1) img {
      transform: translate(-16%, 22%) scale(1);
    }

    div:nth-of-type(2) img {
      transform: translate(-24%, 12%) scale(1);
    }

    div:nth-of-type(3) img {
      transform: translate(0, 12%) scale(1);
    }

    div:nth-of-type(4) img {
      transform: translate(-3%, 14%) scale(1);
    }
}

.section__cta {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5rem;

    .button:not(.request-contact .button) {
        margin: 0;
    }
}

.section__cta:has(.request-contact--standalone) {
    position: absolute;
    width: 100%;
    bottom: -28rem;
    left: 50%;
    transform: translate(-50%, 0);

    @media(min-width: 768px) {
      bottom: -25rem;
    }
}

.section__cta--no-margin-top {
    margin-top: 0;
}

.section__cta--centered {
    justify-content: center;
}

.subpages-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
}

.subpages-item__title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.subpages-item__excerpt {
    margin-top: 0;
    margin-bottom: 1rem;
}
