.blog-crumbs {
    margin: 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .logo {
        color: inherit;
        text-decoration: inherit;
        font-weight: 200;
        font-size: 1.3em;
        position: relative;
        z-index: 11;
        transition: color 0.4s;

        .main-nav-open & {
            color: #eaf1f7;
        }
    }
    .blog-logo {
        color: inherit;
        text-decoration: inherit;
        font-family: 'Libre Baskerville', serif;
        font-size: 2.8em;
        transform: translateX(-0.145em);
    }
}
