.faq-list {
    display: grid;
    gap: 0.5rem 2rem;
    grid-template-columns: 1fr;
    font-size: 1.1rem;
    margin-top: 0;

    @media(min-width: 768px) {
        grid-template-columns: 1fr 4fr;
    }
}

.faq-list__question {
    font-weight: bold;
    font-size: 1.2rem;
}

.faq-list__answer {
    margin-left: 0;
    margin-bottom: 3rem;

    p:first-of-type {
        margin-top: 0;
    }
    p:last-of-type {
        margin-bottom: 0;
    }
}
