.rest-sales {
  background: #2c3e50;
  background-image: linear-gradient(145deg, #2c3e50 30%, #1b2b3a 90%);
  min-height: 100vh;
  color: #eaf1f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 5px 50px;
  h1 {
    font-weight: 200;
    font-size: 3em;
    margin: 0.5em;
    margin-top: 2.5em;
  }
  > p {
    max-width: 500px;
    width: 100%;
    text-align: left;
  }
}

.get-a-quote {
  background: #f4f8f9;
  border: 1px solid #f4f8f9;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin-bottom: 100px;
  color: #070d14;
  width: 100%;
  max-width: 500px;
  a {
    color: #17395b;
  }
  .header {
    color: white;
    padding: 15px;
    background: #2c3e50;
  }
  .tabs {
    display: flex;
    background: #2c3e50;
    border-left: 8px solid #2c3e50;
    .tab {
      background: #c3cacc;
      color: #4d637a;
      font-size: 0.7em;
      text-transform: uppercase;
      padding: 7px 15px;
      border-right: 1px solid #2c3e50;
      border-bottom: 1px solid #2c3e50;
      cursor: pointer;
      &.active {
        background: #f4f8f9;
        color: inherit;
        border-bottom: 1px solid transparent;
      }
    }
  }
  .tab-content {
    display: none;
    > * {
      margin: 15px;
    }
    &.active {
      display: block;
    }
    label {
      text-align: center;
      display: block;
    }
    input {
      text-align: right;
      font-family: inherit;
      font-weight: 200;
      padding: 0.2em;
      font-size: 1.2em;
      width: 6em;
    }
  }
  .evaluation-text {
    background: #cee8ef;
    margin-left: 0;
    margin-right: 0;
    padding: 5px 15px;
    font-size: 0.7em;
    min-height: 4em;
    transition: background 1.2s;
    &.good {
      background: #c8efba;
    }
    &.bad {
      background: #efe6ba;
    }
  }
  .tab-content .button {
    display: block;
    width: 100%;
    text-align: center;
    background: #2c3e50;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5em;
    font-size: 1.4em;
    color: white;
    font-weight: 200;
    font-family: inherit;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: background-color 0.2s;
    &:hover {
      background: #3f5e7c;
    }
  }
  .get-in-touch-explanation {
    text-align: center;
    font-size: 0.6em;
  }
}

@media screen and (max-width:1199px) {
  .rest-sales {
    background: #FFF;
    background-image: none;
    color: #2c3e50;
  }
}
  