.rest-sales {
  background: #2c3e50;
  background-image: linear-gradient(145deg, #2c3e50 30%, #1b2b3a 90%);
  color: #eaf1f7;
  display: flex;
  flex-direction: column;
  padding: 50px 50px 50px 70px;

  .rest-sales__title {
    font-weight: 200;
    font-size: 1.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: left;

    @media screen and (max-width: 767px) {
      margin-top: 1em;
    }
  }
  > p {
    max-width: 550px;
    width: 100%;
    text-align: left;
    margin: 0 0 1em;
  }

  @media screen and (max-width: 767px) {
    height: auto;
  }

  @media (max-width: 539px) {
    padding: 50px 30px;
  }
}

.contact-form {
  width: 100%;
  max-width: 550px;
  border: 1px solid #1b2b3a;
  background: #ecf0f1;
  padding: 5px 15px;
  color: black;
  position: relative;

  .honeypot {
    margin: 0;
  }

  // Use regular text color because the link color is too light to be used here.
  a {
    color: inherit;
  }
}
.contact-form .two-col-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 10px;

  label {
    margin-bottom: 0;
  }
}
.contact-form {
  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  label > span {
    font-size: 0.8em;
  }

  input[type=text],
  input[type=number],
  input[type=password],
  input[type=tel],
  input[type=email],
  select {
    width: 100%;
    padding: 8px;
    font-family: inherit;
    font-size: 0.9em;
  }

  textarea {
    width: 100%;
    height: 150px;
    resize: none;
    font-family: inherit;
    padding: 8px;
    font-size: 0.9em;
  }

  .checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    input[type=checkbox] {
      margin-left: 10px;
    }

  }
}
.contact-form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(27,43,58,0.9);
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  font-weight: 200;
  display: flex;
  opacity: 0;
  transition: opacity 0.3s;
}
.contact-form-overlay-clickthrough {
  display: none;
}
.contact-form-overlay-visible {
  opacity: 1;
}
.contact-form-overlay__message {
  text-align: center;
  display: none;
}
.contact-form-overlay__message--success {
  .contact-form-overlay--success & {
    display: block;
  }
}
.contact-form-overlay__message--error {
  .contact-form-overlay--error & {
    display: block;
  }
}
.contact-form-overlay__message--awaiting {
  .contact-form-overlay--awaiting & {
    display: block;
  }
}

.side-by-side-contact-form-and-explanation {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.contact-explanation {
  width: 100%;
  max-width: 300px;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 15px;
}

@media (max-width: 1100px) {
  .side-by-side-contact-form-and-explanation {
    display: block;
    width: 100%;
    max-width: 550px;
    padding-left: 0;
  }
  .contact-explanation {
    padding: 5px 0;
  }
}
@media (max-width: 539px) {
  .contact-form {
    margin-left: -11px;
    width: calc(100% + 22px);
    margin-right: -11px;
  }
  .contact-form .two-col-inputs {
    display: block;
  }
  .contact-form label textarea {
    height: 210px;
  }
}

.contact-form__navigation {
  margin-top: 10px;
}

.contact-form__navigation-item {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
