// Colors
$deranged-text: #eaf1f7;
$deranged-light-blue: #455d75;
$deranged-dark-blue: #2c3e50;

:root {
  --deranged-text: #{$deranged-text};
  --deranged-light-blue: #{$deranged-light-blue};
  --deranged-dark-blue: #{$deranged-dark-blue};
}

// Breakpoints
$width-sm: 539px;
$width-md: 767px;

// Shadows
$overlay-shadow: 0 6px 5px rgba(0,0,0,0.2), 0 4px 3px rgba(0,0,0,0.05);
