<style>
.triangle-explosion {
    background-color: #502c2c;
    background-image: linear-gradient(0deg, #502c2c, #7d4a4a);
    height: 1536px;
    width: 100vw;
    transform: translateX(55px) translateY(-969px) rotate(2deg) skewX(-8.34deg);
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    position: absolute;
    z-index: -1;
    top: -75px;
    left: 0;
}
.another-detail {
    width: 100vw;
    height: 100px;
    position: absolute;
    background: #502c2c;
    background-image: linear-gradient(8deg, #502c2c, #3d2121);
    transform: translateX(-79px) translateY(562px) rotate(2deg) skewX(8deg);
    top: -75px;
    left: 0;
}
</style>

<div class="triangle-explosion"></div>
<div class="another-detail"></div>
