<style>
.title-platform {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 300px;
    transform: translateY(-100px) skewY(-1deg);
    z-index: -1;
    background-color: hsl({{ page.hue }}, 30%, 60%);
    background-image: linear-gradient(190deg, hsl({{ page.hue }}, 30%, 70%), hsl({{ page.hue }}, 30%, 45%));
}
.corner-thing {
    position: absolute;
    top: -250px;
    right: 0;
    width: 350px;
    height: 300px;
    background: hsl({{ page.hue }}, 30%, 35%);
    transform: skewY(20deg);
    z-index: 3;
}
</style>

<div class="title-platform"></div>
<div class="corner-thing"></div>
