<style>
.section-break-2--big-softie {
    position: absolute;
    transform: translateY(-305px) translateX(50px);
    left: 615px;
    width: 400px;
    height: 300px;
}
.section-break-2--big-softie .soft {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    background-color: #502c2c;
    background-image: linear-gradient(40deg, hsl({{ page.hue }}, 29%, 24%), hsl({{ page.hue }}, 26%, 39%));
}
.section-break-2--big-softie .soft-1 {
    bottom: 0;
    left: 0;
}
.section-break-2--big-softie .soft-2 {
    bottom: 31px;
    left: 96px;
    transform: scale(0.8);
}
.section-break-2--big-softie .soft-3 {
    bottom: 79px;
    left: 240px;
    transform: scale(1.2);
}
.section-break-2--big-softie .soft-4 {
    bottom: 145px;
    left: 138px;
    transform: scale(1.3);
}
.section-break-2--big-softie .soft-5 {
    bottom: 240px;
    left: 200px;
    transform: scale(1.5);
}
</style>
<div class="section-break-2--big-softie">
    <div class="soft soft-1"></div>
    <div class="soft soft-2"></div>
    <div class="soft soft-3"></div>
    <div class="soft soft-4"></div>
    <div class="soft soft-5"></div>
</div>
