---
layout: default
title: blog
sitemap_include: 'yes'
---

{% include overlay_nav.html %}

<link href="/css/homestyle.css" rel="stylesheet" type="text/css" />

<section class="hero" role="banner">
  <div class="hero__content">
    <div class="hero__breadcrumbs deranged-logo">
      <a href="/" class="hero__breadcrumb-item">
        deranged
      </a>
      /
      <a href="/blog" class="hero__breadcrumb-item">
        Blog
      </a>
    </div>
    <h1 class="hero__title">
      Our Blog Posts
    </h1>
  </div>
</section>

<main id="first-content">
  <section class="content content--blue">
    <div class="content__container">
      {% include latest-posts.html blog='true' %}
    </div>
  </section>
</main>

{% include certification.html %}

{% include get_a_quote.html subject='Quote request' %}
