.hero-section {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.hero-section__background {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image:
    linear-gradient(to bottom, transparent, $off-white),
    url(/fix-analytics/screen-image-by-markus-winkler.jpg);
  background-position: left;

  @media(min-width: $width-md) {
    background-position: top left;
  }
}

.hero-section__content {
  padding-top: 50px;
  padding-bottom: 80px;
  position: relative;
  z-index: 2;

  @media(min-width: $width-md) {
    padding-top: 100px;
    padding-bottom: 170px;
  }
}

.selling-propositions {
  margin-top: 60px;
  padding: 2rem;
  display: grid;

  @media(min-width: $width-md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.selling-propositions__item {
  padding: 20px 0;

  @media(min-width: $width-md) {
    padding: 0 40px;
  }

  @media(max-width: $width-sm) {
    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  // Add seperators between elements
  &+& {
    border-top: 1px solid $border-grey;

    @media(min-width: $width-md) {
      border-top: none;
      border-left: 1px solid $border-grey;
    }
  }
}

.selling-propositions__item-title {
  width: 100%;
  font-weight: 400;
  text-align: center;
}
