.hero-section {
  padding-top: 50px;
  padding-bottom: 80px;

  @media(min-width: $width-md) {
    padding-top: 100px;
    padding-bottom: 170px;
  }
}

.selling-propositions {
  margin-top: 60px;
  padding: 2rem;
  display: grid;

  @media(min-width: $width-md) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.selling-propositions__item {
  padding: 20px 0;

  @media(min-width: $width-md) {
    padding: 0 40px;
  }

  @media(max-width: $width-sm) {
    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  // Add seperators between elements
  &+& {
    border-top: 1px solid $border-grey;

    @media(min-width: $width-md) {
      border-top: none;
      border-left: 1px solid $border-grey;
    }
  }
}

.selling-propositions__item-title {
  width: 100%;
  font-weight: 400;
  text-align: center;
}
