.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.content-section {
  &+& {
    margin-top: 100px;
  }
}

.grid {
  display: grid;
  gap: 12px;
}

.grid--col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid--md-col-4 {
  @media(min-width: $width-md) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.aside-section {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;

  @media(min-width: $width-md) {
    grid-template-columns: 2fr 1fr;
    gap: 80px;
  }
}

.aside-section--equal {
  grid-template-columns: 1fr 1fr;
}

.aside-section__aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  padding: 0.75rem;
  flex: 1 0 100%;

  @media (min-width: $width-md) {
    flex: 1 0 0%;
  }
}

// Margins
.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: 0.125rem !important;
}
.mt-2 {
  margin-top: 0.25rem !important;
}
.mt-3 {
  margin-top: 0.5rem !important;
}
.mt-4 {
  margin-top: 1rem !important;
}
.mt-5 {
  margin-top: 2rem !important;
}
.mt-6 {
  margin-top: 4rem !important;
}

.f-justify-space-between {
  justify-content: space-between;
}
.f-justify-center {
  justify-content: center;
}
.f-align-center {
  align-items: center;
}
.f-self-stretch {
  align-self: stretch;
  justify-self: stretch;
}

.spacer {
  flex-grow: 3;
}
