.container {
  max-width: $container-size;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.content-section {
  &+& {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.grid {
  display: grid;
  gap: 12px;
}

.grid--col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid--md-col-4 {
  @media(min-width: $width-md) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.aside-section {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;

  @media(min-width: $width-md) {
    grid-template-columns: 2fr 1fr;
    gap: 80px;
  }
}

.aside-section--equal {
  @media(min-width: $width-md) {
    grid-template-columns: 1fr 1fr;
  }
}

.aside-section__aside {
  display: flex;
  justify-content: center;
  align-items: center;
}
