a {
  color: inherit;
  text-decoration: none;

  background:
    linear-gradient(
      to right,
      $blue-gradient-dark,
      $blue-gradient-dark,
    ),
    linear-gradient(
      to right,
      rgb(255,80,80),
      rgba(40,255,40, 1),
  );
  background-size: 100% 2px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;

  &:hover {
    background-size: 0 2px, 100% 3px;
  }
}
