.logo {
  font-weight: 800;
  line-height: 0.8em;
  text-decoration: inherit;
  display: inline-block;
  color: inherit;
}

.logo--big {
  font-size: 2rem;
}
.logo--huge {
  font-size: 4rem;
}

.logo--fancy:before,
.logo--fancy:after {
  content: 'Fix \A Analytics';
}

.logo__deranged-attribution {
  font-size: 0.6rem;
  font-weight: 150;
  line-height: 0.4rem;
}
