/* Flexbox
// ================================================== */
.flex { display: flex; }

/* Flex direction */
.flex-direction--row  { flex-direction: row; } /* Default */
.flex-direction--column  { flex-direction: column; }

/* Flex wrap */
.flex-wrap  { flex-wrap: wrap; }
.flex-wrap--reverse { flex-wrap: wrap-reverse; }

/* Justify content */
.justify-content--end { justify-content: flex-end; }
.justify-content--start { justify-content: flex-start; } /* Default */
.justify-content--center  { justify-content: center; }
.justify-content--space-around { justify-content: space-around; }
.justify-content--space-between { justify-content: space-between; }

/* Align items */
.align-items--start { align-items: flex-start; }
.align-items--center  { align-items: center; }
.align-items--end { align-items: flex-end; }
.align-items--stretch  { align-items: stretch; } /* Default */
.align-items--baseline  { align-items: baseline; }

/* Flex grow */
.flex-grow--0 { flex-grow: 0; } /* Default */
.flex-grow--1 { flex-grow: 1; }

/* Flex shrink */
.flex-shrink--0 { flex-shrink: 0; }
.flex-shrink--1 { flex-shrink: 1; } /* Default */

/* Flex basis */
.flex-basis--auto { flex-basis: auto; } /* Default */
.flex-basis--0 { flex-basis: 0; }

/* Align self */
.align-self--auto  { align-self: auto; } /* Default */
.align-self--start { align-self: flex-start; }
.align-self--center  { align-self: center; }
.align-self--end { align-self: flex-end; }
.align-self--stretch  { align-self: stretch; }
.align-self--baseline  { align-self: baseline }


/* Spacing
// ================================================== */
.mt-0 { margin-top: 0 !important; }
.mb-0 { margin-bottom: 0 !important; }
.ml-0 { margin-left: 0 !important; }
.mr-0 { margin-right: 0 !important; }

.mt-xxxs { margin-top: 0.25rem !important; }
.mb-xxxs { margin-bottom: 0.25rem !important; }
.ml-xxxs { margin-left: 0.25rem !important; }
.mr-xxxs { margin-right: 0.25rem !important; }

.mt-xxs { margin-top: 0.5rem !important; }
.mb-xxs { margin-bottom: 0.5rem !important; }
.ml-xxs { margin-left: 0.5rem !important; }
.mr-xxs { margin-right: 0.5rem !important; }

.mt-xs { margin-top: 0.5rem !important; }
.mb-xs { margin-bottom: 0.5rem !important; }
.ml-xs { margin-left: 0.5rem !important; }
.mr-xs { margin-right: 0.5rem !important; }

.mt-sm { margin-top: 1rem !important; }
.mb-sm { margin-bottom: 1rem !important; }
.ml-sm { margin-left: 1rem !important; }
.mr-sm { margin-right: 1rem !important; }

.mt-md { margin-top: 2rem !important; }
.mb-md { margin-bottom: 2rem !important; }
.ml-md { margin-left: 2rem !important; }
.mr-md { margin-right: 2rem !important; }

.mt-lg { margin-top: 4rem !important; }
.mb-lg { margin-bottom: 4rem !important; }
.ml-lg { margin-left: 4rem !important; }
.mr-lg { margin-right: 4rem !important; }

.mt-xl { margin-top: 8rem !important; }
.mb-xl { margin-bottom: 8rem !important; }
.ml-xl { margin-left: 8rem !important; }
.mr-xl { margin-right: 8rem !important; }


/* Visibility
// ================================================== */
.u-hide {
  display: none !important;
}


/* Layouting
// ================================================== */
.spacer {
  flex-grow: 3;
}
