<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
		<title>{% if page.title %}{{ page.title }}{% else %}deranged | everything dev{% endif %}</title>
		<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic|Source+Code+Pro|Source+Sans+Pro:200,400,900' rel='stylesheet' type='text/css'>
		<link href="/css/derangedstyle.css" rel="stylesheet" type="text/css">
	</head>
	<body ontouchstart="">
		{{ content }}

		<footer>
			<div class="footer-logo">
				<img src="/img/somanylogos/1.png">
			</div>
			<div class="footer-info">
				<span>&copy; deranged 2018-<span id="footer-current-year">2019</span></span>
				<span>CVR 35695583</span>
				<span><a href="mailto:get@deranged.dk">get@deranged.dk</a></span>
				<span><a href="/privacy/">Privacy policy</a></span>
			</div>
			<div class="footer-info">
				<span><a href="/what-we-have-done/">What we have done</a></span>
				<span><a href="/what-we-have-done/">Who we are</a></span>
				<span><a href="/what-we-have-done/">How we think</a></span>
			</div>
		</footer>
		<script>
			(function() {
				var now = new Date();
				document.getElementById("footer-current-year").innerText = now.getFullYear();
			})();
		</script>		

		<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
		<script>
		(function() {
			if(!cookieOk()) {
				return showCookieNotice();
			}
			loadFathom();

			function cookieOk() {
				return document.cookie.indexOf("deranged.dk-allow-cookies=true") !== -1;
			}

			function showCookieNotice() {
				var cookieNotice = document.createElement("div");
				cookieNotice.classList = "cookie-notice";
				cookieNotice.innerHTML = [
					'<p>',
					'We use a single cookie on our website, in order to count visitors.',
					'Unlike most websites, however, it stores no identifiable information, does not track you across the internet, and passes no information on to third parties.',
					'<a href="/privacy/#cookie">Read more</a>.',
					'<button>Accept</button>',
					'</p>'
				].join(" ");
				cookieNotice.querySelector("button").addEventListener("click", function(e) {
					cookieNotice.classList += " cookie-notice-hide";
					setCookie();
					loadFathom();
				});
				document.body.appendChild(cookieNotice);
			}

			function setCookie() {
				document.cookie = 'deranged.dk-allow-cookies=true;path=/;max-age=' + (60 * 60 * 24 * 200);
			}

			function loadFathom() {
				(function(f, a, t, h, o, m){
					a[h]=a[h]||function(){
						(a[h].q=a[h].q||[]).push(arguments)
					};
					o=f.createElement('script'),
					m=f.getElementsByTagName('script')[0];
					o.async=1; o.src=t; o.id='fathom-script';
					m.parentNode.insertBefore(o,m)
				})(document, window, '//fathom.k8s.deranged.dk/tracker.js', 'fathom');
				fathom('set', 'siteId', 'YWXAL');
				fathom('trackPageview');
			}
		})();
		</script>
		<!-- / Fathom -->
	</body>
</html>
