<!DOCTYPE html>
<html>
	<head>
		{% if page.redir %}<meta http-equiv="refresh" content="0;url={{ page.redir }}" />{% endif %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% if page.title %}{{ page.title }}{% else %}deranged | everything dev{% endif %}</title>
		<meta name="description" content="{% if page.meta %}{{ page.meta }}{% else %}We hit the ground running on your development projects. DevOps & RevOps services that align with your business reality.{% endif %}"/>
		<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic|Source+Code+Pro|Source+Sans+Pro:200,400,900' rel='stylesheet' type='text/css'>
		<link href="/css/derangedstyle.css" rel="stylesheet" type="text/css">
		<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
	</head>
	<body ontouchstart="">
		{{ content }}
		{% include footer.html %}
	</body>
</html>
