<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
		<title>{% if page.title %}{{ page.title }}{% else %}deranged | everything dev{% endif %}</title>
		<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic|Source+Code+Pro|Source+Sans+Pro:200,400,900' rel='stylesheet' type='text/css'>
		<link href="/css/derangedstyle.css" rel="stylesheet" type="text/css">
	</head>
	<body ontouchstart="">
		{{ content }}

		<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
		<script>
		(function(f, a, t, h, o, m){
			a[h]=a[h]||function(){
				(a[h].q=a[h].q||[]).push(arguments)
			};
			o=f.createElement('script'),
			m=f.getElementsByTagName('script')[0];
			o.async=1; o.src=t; o.id='fathom-script';
			m.parentNode.insertBefore(o,m)
		})(document, window, '//fathom.k8s.deranged.dk/tracker.js', 'fathom');
		fathom('set', 'siteId', 'YWXAL');
		fathom('trackPageview');
		</script>
		<!-- / Fathom -->
	</body>
</html>
