<!DOCTYPE html>
<html lang="{% if page.lang == 'da_dk' %}da{% else %}en{% endif %}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% if page.title %}{{ page.title }}{% else %}Fix Analytics{% endif %}</title>
		<link href="/css/fix-analytics-pages.css" rel="stylesheet" type="text/css">
	</head>
	<body ontouchstart="">
    {% include fix-analytics-navigation.html lang=page.lang %}
		{{ content }}
		{% include fix-analytics-footer.html %}

		<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
		<script>
		(function() {
			if(!cookieOk()) {
				return showCookieNotice();
			}
			loadFathom();

			function cookieOk() {
				return document.cookie.indexOf("deranged.dk-allow-cookies=true") !== -1;
			}

			function showCookieNotice() {
				var cookieNotice = document.createElement("div");
				cookieNotice.classList = "cookie-notice";
				cookieNotice.innerHTML = [
					'<p>',
					'We use a single cookie on our website, in order to count visitors.',
					'Unlike most websites, however, it stores no identifiable information, does not track you across the internet, and passes no information on to third parties.',
					'<a href="/privacy/#cookie">Read more</a>.',
					'<button>Accept</button>',
					'</p>'
				].join(" ");
				cookieNotice.querySelector("button").addEventListener("click", function(e) {
					cookieNotice.classList += " cookie-notice-hide";
					setCookie();
					loadFathom();
				});
				document.body.appendChild(cookieNotice);
			}

			function setCookie() {
				document.cookie = 'deranged.dk-allow-cookies=true;path=/;max-age=' + (60 * 60 * 24 * 200);
			}

			function loadFathom() {
				(function(f, a, t, h, o, m){
					a[h]=a[h]||function(){
						(a[h].q=a[h].q||[]).push(arguments)
					};
					o=f.createElement('script'),
					m=f.getElementsByTagName('script')[0];
					o.async=1; o.src=t; o.id='fathom-script';
					m.parentNode.insertBefore(o,m)
				})(document, window, '//fathom.deranged.dk/tracker.js', 'fathom');
				fathom('set', 'siteId', 'YWXAL');
				fathom('trackPageview');
			}
		})();
		</script>
		<!-- / Fathom -->
	</body>
</html>
