---
layout: default
---

{% include overlay_nav.html %}

<link href="/css/homestyle.css" rel="stylesheet" type="text/css" />

<style type="text/css" scoped>
  .post {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .post__intro {
    padding-bottom: 15rem;
    position: relative;
    display: flex;
    align-items: start;
    flex-direction: column;
    text-align: left;
    padding-left: 100px;
  }

  .post__intro-heading {
    margin-top: 7.5rem;
    margin-bottom: 5rem;
  }

  .post__intro-subtitle {
    font-size: 1.55rem;
    max-width: 1125px;
  }

  .post__intro-image {
    position: absolute;
    right: 3rem;
    top: -3rem;
    width: 70%;
    height: calc(100%);
    object-position: top center;
    object-fit: cover;
    mix-blend-mode: lighten;
    opacity: 0.30;
    filter: brightness(0.8) contrast(2.2) brightness(1.5);
    transition: opacity 1s;
  }

  .post__intro-image:hover {
    opacity: 0.5;
    transition: opacity 5s;
  }

  .post__intro-symbol {
    position: absolute;
    right: -4rem;
    bottom: -2rem;
    font-size: 28rem;
    line-height: 1;
    color: rgba(255, 255, 255, 0.5);
    mix-blend-mode: lighten;
  }

  .post__paper {
    background-color: #ecf0f1;
    padding: 4.5rem 4rem;
    position: relative;
    font-size: 1.25rem;
    z-index: 2;
    margin-top: -10.5rem;
    margin-left: calc(100px - 4rem);
  }
  .post__paper p, .post__paper ul, .post__paper ol, .post__paper blockquote {
    font-family: 'Source Serif Pro', 'Libre Baskerville', Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    line-height: 160%;
    letter-spacing: -0.003em;
  }
  .post__paper h2:first-child {
    margin-top: 0;
  }
  .post__paper p + ul, .post__paper p + ol {
    margin-top: -1rem;
  }
  .post__paper li {
    margin-bottom: 0.25em;
  }
  .post__paper h1, .post__paper .heading-1 {
    font-size: 2.5rem;
  }
  .post__paper h2, .post__paper .heading-2 {
    font-size: 1.875rem;
  }
  .post__paper h4, .post__paper .heading-3 {
    font-size: 1.5rem;
  }
  .post__paper a {
    color: #0e3661;
  }
  .post .container {
    max-width: 950px;
  }
</style>

<style>
  .highlight-box {
    color: white;
    background-image: linear-gradient(40deg, #2c3e50 30%, #455d75 90%);
    padding: 2rem 3rem;
    margin: 2rem -3rem;
  }

  .highlight-box p:last-of-type {
    margin-bottom: 0;
  }

  .highlight-box h1:first-child, .highlight-box h2:first-child, .highlight-box h3:first-child, .highlight-box h4:first-child  {
    margin-top: 1rem;
  }
  .highlight-box a {
    color: white;
  }
</style>

<main class="post">
  <div class="section--dark section--dark-highlight-gradient">
    <div class="header" role="banner">
      <a href="/" class="logo">deranged</a>
      <a class="site-area-logo blog-logo" href="/blog">Blog&nbsp;</a>
    </div>
    <div class="post__intro">
      {% if page.img %}
        <img src="{{ page.img }}" class="post__intro-image" alt="" />
      {% endif %}
      <div class="post__intro-symbol">⚆</div>
      <h1 class="display-1 post__intro-heading">{%if page.title_display %}{{ page.title_display }}{% else %}{{ page.title }}{% endif %}</h1>
      <p class="post__intro-subtitle">{{page.subtitle}}</p>
      <div class="post__intro-author">
        {{page.by}}<br>
        {{page.at}}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="post__paper">
      {{ content }}
    </div>
  </div>
</main>

{% include latest-posts.html post='true' %}

{% include team-and-smv-digital.html %}

{% include get_a_quote.html subject='Quote request' %}
