---
layout: default
---

{% include overlay_nav.html %}

<link href="/css/revops.css" rel="stylesheet" type="text/css" />
<link href="/css/homestyle.css" rel="stylesheet" type="text/css" />

<style type="text/css" scoped>
  .header {
    background: rgba(52, 73, 94, 1);
    display: grid;
    grid-template-columns: 150px 1fr;
    color: #eaf1f7;
    padding: 30px;
    text-align: left;
  }

  .header .logo {
    color: inherit;
    text-decoration: inherit;
    font-weight: 200;
    font-size: 1.3em;
    position: relative;
    z-index: 11;
  }

  .header h1 {
    margin: 0;
    padding: 0;
    margin-top: -9px;
    font-weight: 200;
    font-size: 3em;
  }

  .header h1 a {
    color: inherit;
    text-decoration: inherit;
  }

  @media (max-width: 600px) {
    .header {
      grid-template-columns: 1fr;
    }
  }
</style>
<section class="header">
  <a href="/" class="logo">deranged</a>
  <h1><a href="/blog">blog</a></h1>
</section>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .header-overlay,
  .header-image {
    height: 24em;
    width: 100%;
  }
  .header-overlay {
    position: absolute;
    overflow: hidden;
    background-color: #ecf0f1;
    background-image: linear-gradient(#ecf0f12c, #ecf0f1);
    opacity: 0.8;
  }
  .header-image {
    object-fit: cover;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.7;
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 100%
    );
    -webkit-mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 100%
    );
  }

  .flex-row {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-right: 2em;
    padding-left: 2em
  }
  main h1 {
    position: relative;
    text-align: left;
    margin: 2.5em;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 4em;
    font-weight: bold;
    z-index: 1;
  }

  main p.subtitle {
    font-weight: 700;
    font-size: larger;
  }
  main section > h2 {
    margin-top: 1em;
    margin-bottom: 0.2em;
    font-size: 2.1em;
    font-weight: 500;
    position: relative;
    color: #2c3e50;
  }
  main > section {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
  }

  main .highlight-box {
    color: white;
    background-image: linear-gradient(40deg, #2c3e50 30%, #455d75 90%);
    font-size: 1.1em;
    padding: 50px;
  }

  main .highlight-box p:last-of-type {
    margin: 0;
  }

  main .highlight-box > h2 {
    color: white;
    margin-top: 0;
    margin-bottom: 0.4em;
  }

  @media (max-width: 950px) {
    main h1 {
      font-size: 3.5em;
      margin-right: 1em;
      margin-left: 1em;
    }
    .header-overlay,
    .header-image {
      height: 22em;
    }
  }
  @media (max-width: 600px) {
    main h1 {
      font-size: 2.5em;
      margin-right: 0;
      margin-left: 0;
    }
    .header-overlay,
    .header-image {
      height: 15em;
    }
  }
  @media (max-width: 450px) {
    main {
      font-size: 1.1em;
    }
  }

  main a {
    color: #2c3e50;
  }
</style>

<main>
  <div class="flex-row">
    <div class="header-overlay">
      <img src="{{ page.img }}" class="header-image" alt="" />
    </div>
    <h1>{{ page.title }}</h1>
  </div>
  {{ content }}
</main>

<section class="latest-posts">
  <div class="latest-posts__heading">
    <h2 class="latest-posts__title">Recent posts</h2>
  </div>
  <div class="latest-posts__list-container">
    {% assign filtered_posts = site.posts | where_exp: "post", "post.title
    != page.title" %} {% for post in filtered_posts limit:3 %}
    <a href="{{post.url}}" class="latest-posts__list-item">
      <img
          src="{{post.img}}"
          loading="lazy"
          alt=""
          class="latest-posts__list-item-thumbnail"
      />
      <h3 class="latest-posts__list-item-title">{{post.title}}</h3>
      <p class="latest-posts__list-item-summary">{{post.excerpt}} <u>Read&nbsp;more</u></p>
    </a>
    {% endfor %}
  </div>
  <a href="/blog" class="button">Read more posts here</a>
</section>

{% include team-and-smv-digital.html %}

{% include get_a_quote.html subject='Quote request' %}
