---
layout: default
---

{% include overlay_nav.html %}

<style type="text/css" scoped>
  .header {
    background: rgba(52, 73, 94, 1);
    display: grid;
    grid-template-columns: 150px 1fr;
    color: #eaf1f7;
    padding: 30px;
    text-align: left;
  }

  .header .logo {
    color: inherit;
    text-decoration: inherit;
    font-weight: 200;
    font-size: 1.3em;
    position: relative;
    z-index: 11;
  }

  .header h1 {
    margin: 0;
    padding: 0;
    margin-top: -9px;
    font-weight: 200;
    font-size: 3em;
  }

  .header h1 a {
    color: inherit;
    text-decoration: inherit;
  }

  @media (max-width: 600px) {
    .header {
      grid-template-columns: 1fr;
    }
    .header h1 {
      margin-top: 4px;
      font-size: 2em;
    }
  }
</style>
<section class="header">
  <a href="/" class="logo">deranged</a>
  <h1><a href="/revops#services">RevOps services</a></h1>
</section>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .header-overlay,
  .header-image {
    height: 300px;
    width: calc(100vw - 115px);
    max-width: 1200px;
  }
  .header-overlay {
    position: absolute;
    overflow: hidden;
    background-color: #ecf0f1;
    opacity: 0.5;
  }
  .header-image {
    object-fit: cover;
    -webkit-filter: blur(1px);
    filter: blur(2px);
    opacity: 0.4;
  }
  main h1 {
    text-align: left;
    margin: 1.5em;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 4em;
    font-weight: bold;
    z-index: 1;
  }
  .flex-row {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 1.5em;
  }
  .section-top {
    display: flex;
    align-items: center;
    width: 1000px;
    margin-top: 0;
    padding-top: 1em;
  }
  .section-top img {
    max-height: 300px;
    max-width: 600px;
    padding-right: 2em;
  }
  .h2-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  main section h2 {
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 2.1em;
    font-weight: 900;
    position: relative;
    max-width: 700px;
    color: #2c3e50;
    z-index: 2;
  }
  .h2-icon {
    background: #2c3e50;
    background-image: linear-gradient(40deg, #2c3e50 30%, #455d75 90%);
    border-radius: 100%;
    margin-right: 15px;
    height: 60px;
    width: 60px;
    padding: 8px;
  }
  main section {
    background-color: #fff;
    width: 950px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  }
  img.side-image {
    object-fit: contain;
    width: 40vw;
    max-width: 650px;
    margin-left: 1.2em;
    margin-right: 1.2em;
  }
  .contact {
    display: flex;
    background: #2c3e50;
    background-image: linear-gradient(145deg, #2c3e50 30%, #1b2b3a 90%);
    color: #eaf1f7;
    font-size: 0.8em;
    width: 100vw;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 1em;
    margin-bottom: -100px;
    padding: 50px 50px 50px 70px;
  }
  .contact .side-explanation {
    padding: 15px;
  }
  p.sidenote {
    color: white;
    background-image: linear-gradient(40deg, #2c3e50 30%, #455d75 90%);
    font-size: 1.1em;
    padding: 20px;
  }

  @media (max-width: 1100px) {
    main {
      padding-bottom: 20px;
    }
    main h1 {
      margin-left: 20px;
    }
    main section {
      margin-left: 0;
    }
    .header-overlay,
    .header-image {
      width: 100vw;
    }
    .header-overlay {
      margin-left: -15px;
    }
    .section-top {
      flex-wrap: wrap;
      justify-content: center;
    }
    .section-top img {
      padding-right: 0;
    }
    .flex-row {
      flex-wrap: wrap;
      padding-top: 1em;
    }
    img.side-image {
      order: 2;
      padding: 1em;
      height: 300px;
      width: 450px;
      max-width: 100vw;
    }
    .contact {
      margin-bottom: -20px;
    }
  }
  @media (max-width: 950px) {
    main h1 {
      font-size: 3.5em;
      margin: 1em;
    }
    .header-overlay,
    .header-image {
      height: 240px;
    }
    .section-top img {
      max-height: 200px;
      max-width: 400px;
    }
    .contact {
      padding: 30px;
      flex-wrap: wrap;
    }
  }
  @media (max-width: 600px) {
    main h1 {
      font-size: 2.5em;
    }
    .header-overlay,
    .header-image {
      display: none;
    }
    .section-top img {
      max-width: 400px;
    }
    .h2-icon {
      width: 40px;
      height: 40px;
      padding: 5px;
    }
  }
  @media (max-width: 450px) {
    main {
      font-size: 1.1em;
    }
    .section-top img {
      max-width: 200px;
    }
  }

  main a {
    color: #2c3e50;
  }
</style>

<main>
  <div class="flex-row">
    <div class="header-overlay" style="background-color: {{ page.color }};">
      <img src="{{ page.header-img }}" class="header-image" alt="" />
    </div>
    <h1>{{ page.title }}</h1>
  </div>
  <div class="flex-row">
    <section class="section-top">
      <img src="{{ page.icon }}" alt="" />
      <div>{{ page.top-section }}</div>
    </section>
  </div>
  {{ content }}
</main>

{% if page.custom-form == nil %}
  {% include get_a_quote.html subject=page.title %}
{% endif %}
