---
layout: default
title: 'Cases'
sitemap_include: 'yes'
---
{% include overlay_nav.html %}

<link href="/css/homestyle.css" rel="stylesheet" type="text/css" />

<section class="hero" role="banner">
  <div class="hero__content">
    <div class="hero__breadcrumbs deranged-logo">
      <a href="/" class="hero__breadcrumb-item">
        deranged
      </a>
      /
      <a href="/cases" class="hero__breadcrumb-item">
        cases
      </a>
    </div>
    <h1 class="hero__title">
      Some of the things we have worked on
    </h1>
  </div>
</section>

<main id="first-content">
  <section class="content content--blue">
    <div class="content__container content__container--wide">
      <div class="subpages-list">
        {% assign subpages = site.pages | where_exp:"p","p.url contains '/cases/'" %}
        {% for page in subpages %}
          {% unless page.url == '/cases/' or page.url == '/cases/index.html' %}
            <div class="subpages-item">
              <h3 class="subpages-item__title">
                {{ page.shortTitle | default: page.title | default: page.url }}
              </h3>
              <p class="subpages-item__excerpt">
                {{ page.excerpt }}
              </p>
              {% if page.content != empty %}
                <a href="{{ page.url }}">
                  ➟  Read&nbsp;more
                </a>
              {% endif %}
            </div>
          {% endunless %}
        {% endfor %}
      </div>
    </div>
  </section>
</main>

{% include team-and-smv-digital.html %}

{% include get_a_quote.html subject='Quote request' %}
