---
layout: default
title: "Accessibility: From upskilling to full compliance – we upgrade both you and your digital solutions"
meta: "Expert assistance to ensure compliance with the European Accessibility Act (EAA) and to strengthen the skills within your organization, so you achieve compliance here and now – and build a strong, lasting culture of digital accessibility."
meta_image: "/img/blog-posts/a11y-2.jpg"
sitemap_include: 'yes'
lang: "en"
questions:
  - question: "Understanding what legislation, standards and guidelines actually mean for you"
    answer: |
      What is the difference between the Web Accessibility Directive (WAD) and the European Accessibility Act (EAA)?
      What is the difference between WCAG 2.1 and WCAG 2.2 and EN 301 459 – and are any requirements optional? There are many things to keep track of within web accessibility,
      but we can guide you and explain what it means for your specific organization.
  - question: "Turning test reports into concrete action points"
    answer: |
      Our goal is that your accessibility budget is used to actually improve accessibility in your solution by helping you translate
      accessibility insights into concrete action points on someone’s to-do list.
      It may sound obvious, but we see far too many accessibility projects that start with a big report – and also end there, because no one knows
      how to translate the report into something practical.
  - question: "Catching accessibility issues already in the design phase"
    answer: |
      By engaging in dialogue with UX designers and graphic designers, we can help prevent accessibility issues long before they appear in the code of the final solution.
      Through training and early testing of wireframes, design sketches or prototypes, we can prevent many accessibility issues
      that would otherwise be time-consuming and costly to fix later.
  - question: "Fixing accessibility issues in your code"
    answer: |
      We can either act as a sparring partner for your developers, so they don’t have to spend a lot of time googling and guessing solutions
      to accessibility issues – or our developers can help you fix the errors directly in your code. We can offer this
      because deranged is also a development house. Whether you need one or the other kind of help is entirely up to you.
  - question: "Documenting compliance"
    answer: |
      If you need a full compliance report to document that your website or app meets the requirements of the European Accessibility Act (EAA)
      or the Web Accessibility Directive (WAD), we can help you. For our compliance reports we use the same testing method as the one used in the Danish Agency for Digital Government’s monitoring
      for the Web Accessibility Directive.
---
{% include overlay_nav.html %}

<link href="/css/homestyle.css" rel="stylesheet" type="text/css" />
<link href="/css/revops.css" rel="stylesheet" type="text/css" />

<section class="hero" role="banner">
    <div class="hero__content">
      <div class="hero__breadcrumbs deranged-logo">
        <a href="/" class="hero__breadcrumb-item">
            deranged
        </a>
      </div>
    <h1 class="hero__title">
      Accessibility
    </h1>
    <p class="hero__subtitle">
      From skills development to full compliance – we upgrade both you and your digital solutions
    </p>
    <p class="hero__language-switch">
     🇩🇰 <a href="/da/tilgaengelighed" lang="da">Læs på Dansk</a>
    </p>
  </div>
</section>

<main id="first-content">
  <section class="content">
    <div class="content__container">
      <h2 class="section__heading">
        What is accessibility?
      </h2>
      <div class="section__text">
        <p>
          Digital accessibility is about creating inclusive digital experiences. Accessibility ensures that everyone can use your website or app, regardless of impairments or disabilities. By making sure no users are excluded, you help both your users and your organization achieve their goals.
        </p>
        <p>
          For certain sectors, there are legal requirements for accessibility in websites and apps:
        </p>
        <ul>
          <li>Web Accessibility Directive (WAD): Applies to the public sector, including municipalities, regions, state authorities and bodies governed by public law.</li>
          <li>European Accessibility Act (EAA): Entered into force on June 28, 2025 and applies to e.g. banks, insurance companies, webshops, streaming services and passenger transport.</li>
        </ul>
        <p>
          If you are covered by the legislation, your websites and apps must comply with the harmonised standard EN 301 549 – parts of which are the same as in the Web Content Accessibility Guidelines (WCAG 2.1 and WCAG 2.2).
        </p>
        <p>Our goal is to help you comply with legislation and standards and create inclusive digital environments without barriers to participation, so no users are left behind.</p>
      </div>
      <div>
      <a href="/posts/2025-05-09-tilgængelighedsloven-for-den-private-sektor">
        ➟  Read more about the European Accessibility Act (EAA) for the private sector
      </a>
      </div>
    </div>
  </section>

  <section class="content content--blue">
    <div class="content__container">
      <h2 class="section__heading">
        Your accessibility team
      </h2>
      <div>
        <div class="section__text">
          <p>
            deranged offers a wide range of consulting services within web accessibility.
          </p>
          <figure class="content__image-container">
            <img src="/img/people/anne-tingaengelighed.jpg" alt="" />
            <figcaption>
              Anne Thyme Nørregaard, Staff Consultant in Web Accessibility
            </figcaption>
          </figure>
          <p>
            Our staff consultant in web accessibility, Anne Thyme Nørregaard, has 10+ years of experience within accessibility and is a Certified Professional in Web Accessibility (CPWA), the highest level of certification offered by the International Association of Accessibility Professionals (IAAP). Anne has helped countless public authorities and private companies upgrade their employees’ skills and ensure accessibility on their websites, apps and software.
          </p>
          <p>
            deranged is, among other things, a supplier to the Danish Agency for Digital Government for the task of monitoring whether public authorities’ websites and apps comply with the requirements of the Web Accessibility Directive (WAD).
          </p>
          <p>
            deranged is also a development house, so in addition to delivering skills training and “diagnostics” within web accessibility, we can also offer you that our development team fixes your accessibility issues for you! Our development team can help you whether it is an existing solution that needs fixing, or if you need something new developed that complies with the European Accessibility Act (EAA, for the private sector) or the Web Accessibility Directive (WAD, for the public sector). We can also help you fix accessibility issues you have discovered through other means, e.g. from automated testing tools or a monitoring report.
          </p>
        </div>
      </div>
      <div class="section__cta section__cta--no-margin-top">
        <a class="button" href="#services">
          See our services within web accessibility
        </a>
        <a href="/the-team/">
          ➟ Meet the whole deranged team
        </a>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="content__container">
      <h2 class="section__heading">
        Our approach to working with accessibility
      </h2>
      <div class="section__text">
        <p>
          Our consulting services within web accessibility cover the full spectrum of training, advisory services and testing of accessibility issues.
        </p>
        <p>
            In our consulting services we break down accessibility efforts into manageable blocks and help you understand what it’s all about and what you specifically need to do. We ensure that you achieve accessibility in your solution as quickly as possible – and that you learn a lot along the way, continuously expanding your competencies within web accessibility.
          </p>
        <p>
          Once you have an overview of the accessibility issues in your solution, you can choose to fix them yourself or with the help of another supplier – or you can let us do it.
        </p>
      </div>
    </div>
  </section>

  <section class="content content--blue" id="services">
    <div class="content__container content__container--wide">
      <h2 class="section__heading section__heading--light section__heading--extra-margin-bottom">
        Our services within web accessibility
      </h2>
      <div class="subpages-list">
          {% assign subpages = site.pages | where_exp:"p","p.url contains '/accessibility/'" %}
            {% for page in subpages %}
              {% unless page.url == '/accessibility/' or page.url == '/accessibility/index.html' %}
                <div class="subpages-item">
                  <h3 class="subpages-item__title">
                    {{ page.shortTitle | default: page.title | default: page.url }}
                  </h3>
                  <p class="subpages-item__excerpt">
                    {{ page.excerpt }}
                  </p>
                  {% if page.content != empty %}
                    <a href="{{ page.url }}">
                      ➟  Read&nbsp;more
                    </a>
                  {% endif %}
                </div>
              {% endunless %}
            {% endfor %}
        </div>
      <div class="section__cta section__cta--centered section__cta--extra-margin-top">
        <a class="button" href="#contact">
            Get in touch
        </a>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="content__container content__container--wide">
      <div class="solution-list">
        <h2 class="section__heading mb-0">
          We are experts in solving these problems
        </h2>
        <div class="solution-list__item">
          {% for qa in page.questions %}
          <div>
            <h3 class="solution-list__question">
              {{ qa.question }}
            </h3>
            <div class="solution-list__answer">
              {{ qa.answer | markdownify }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</main>

{% include get_a_quote.html subject='Accessibility' lang='en' %}
